In [1]:
import requests
import json
import pandas as pd
from pandas import json_normalize

In [2]:
# API URL'si
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/ROA26/JSON-stat/1.0/en"

In [3]:
# API'den veri çekmek için GET isteği yapılıyor
res = requests.get(url)

# Eğer istek başarılıysa (HTTP 200), veriyi al
if res.status_code == 200:
    data = res.json()  # JSON formatındaki veriyi Python sözlüğüne dönüştürür
    print("Response=",res.status_code,"\n")
    print("Response successful")
else:
    print("API'den veri çekilemedi. Hata kodu:", response.status_code)

Response= 200

Response successful

In [4]:
data.keys()

dict_keys(['dataset'])

In [5]:
data['dataset']

{'dimension': {'STATISTIC': {'label': 'Statistic',
   'category': {'index': {'ROA26C01': 0, 'ROA26C02': 1},
    'label': {'ROA26C01': 'Full Driving Licences',
     'ROA26C02': 'Learner Permit Driving Licences'},
    'unit': {'ROA26C01': {'base': 'Number'}, 'ROA26C02': {'base': 'Number'}}}},
  'TLIST(A1)': {'label': 'Year',
   'category': {'index': {'2013': 0,
     '2014': 1,
     '2015': 2,
     '2016': 3,
     '2017': 4,
     '2018': 5,
     '2019': 6,
     '2020': 7,
     '2021': 8,
     '2022': 9},
    'label': {'2013': '2013',
     '2014': '2014',
     '2015': '2015',
     '2016': '2016',
     '2017': '2017',
     '2018': '2018',
     '2019': '2019',
     '2020': '2020',
     '2021': '2021',
     '2022': '2022'}}},
  'C02076V03371': {'label': 'Age Group',
   'category': {'index': {'-': 0,
     '336': 1,
     '3401': 2,
     '385': 3,
     '410': 4,
     '445': 5,
     '480': 6,
     '520': 7,
     '555': 8,
     '585': 9,
     '620': 10},
    'label': {'-': 'All ages',
     '336': 'Under 17 years',
     '3401': '17 - 20 years',
     '385': '21 - 24 years',
     '410': '25 - 29 years',
     '445': '30 - 39 years',
     '480': '40 - 49 years',
     '520': '50 - 59 years',
     '555': '60 - 69 years',
     '585': '70 - 79 years',
     '620': '80 years and over'}}},
  'C03424V04122': {'label': 'Licensing Authority',
   'category': {'index': {'-': 0,
     '01': 1,
     '02': 2,
     '03': 3,
     '04': 4,
     '05': 5,
     '06': 6,
     '07': 7,
     '08': 8,
     '09': 9,
     '10': 10,
     '11': 11,
     '12': 12,
     '13': 13,
     '14': 14,
     '15': 15,
     '16': 16,
     '17': 17,
     '18': 18,
     '19': 19,
     '20': 20,
     '21': 21,
     '22': 22,
     '23': 23,
     '24': 24,
     '25': 25,
     '26': 26},
    'label': {'-': 'All licensing authorities',
     '01': 'Carlow',
     '02': 'Dublin',
     '03': 'Kildare',
     '04': 'Kilkenny',
     '05': 'Laois',
     '06': 'Longford',
     '07': 'Louth',
     '08': 'Meath',
     '09': 'Offaly',
     '10': 'Westmeath',
     '11': 'Wexford',
     '12': 'Wicklow',
     '13': 'Clare',
     '14': 'Cork',
     '15': 'Kerry',
     '16': 'Limerick',
     '17': 'Tipperary',
     '18': 'Waterford',
     '19': 'Galway',
     '20': 'Leitrim',
     '21': 'Mayo',
     '22': 'Roscommon',
     '23': 'Sligo',
     '24': 'Cavan',
     '25': 'Donegal',
     '26': 'Monaghan'}}},
  'role': {'metric': ['STATISTIC'], 'time': ['TLIST(A1)']},
  'id': ['STATISTIC', 'TLIST(A1)', 'C02076V03371', 'C03424V04122'],
  'size': [2, 10, 11, 27]},
 'label': 'Current Driving Licences',
 'source': 'Road Safety Authority (RSA)',
 'updated': '2023-11-22T11:00:00Z',
 'value': [2414393.0,
  32543.0,
  585835.0,
  110204.0,
  50544.0,
  38520.0,
  20564.0,
  60424.0,
  97192.0,
  39831.0,
  45887.0,
  80271.0,
  74518.0,
  67553.0,
  284697.0,
  83093.0,
  102890.0,
  89039.0,
  61708.0,
  138145.0,
  18286.0,
  74122.0,
  36569.0,
  37364.0,
  38585.0,
  88505.0,
  34830.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  31634.0,
  390.0,
  4378.0,
  1103.0,
  753.0,
  427.0,
  276.0,
  556.0,
  1167.0,
  523.0,
  575.0,
  1209.0,
  864.0,
  1158.0,
  4616.0,
  1244.0,
  1628.0,
  1204.0,
  852.0,
  1861.0,
  300.0,
  1324.0,
  632.0,
  613.0,
  612.0,
  1539.0,
  689.0,
  106965.0,
  1517.0,
  19429.0,
  4311.0,
  2502.0,
  1729.0,
  970.0,
  2473.0,
  4089.0,
  1927.0,
  2088.0,
  3863.0,
  3042.0,
  3338.0,
  13790.0,
  4049.0,
  4939.0,
  4266.0,
  2869.0,
  6604.0,
  973.0,
  4249.0,
  1916.0,
  1934.0,
  2075.0,
  4786.0,
  2107.0,
  213428.0,
  3034.0,
  46949.0,
  9559.0,
  4494.0,
  3648.0,
  2006.0,
  5182.0,
  8121.0,
  3797.0,
  4203.0,
  7082.0,
  5892.0,
  5954.0,
  25142.0,
  7567.0,
  9549.0,
  8091.0,
  5450.0,
  13249.0,
  1719.0,
  7652.0,
  3567.0,
  3498.0,
  3781.0,
  9197.0,
  3619.0,
  570601.0,
  7986.0,
  147133.0,
  27450.0,
  11377.0,
  9518.0,
  4852.0,
  14314.0,
  23945.0,
  9459.0,
  10985.0,
  17690.0,
  16844.0,
  14851.0,
  65949.0,
  18134.0,
  24429.0,
  19672.0,
  14419.0,
  34340.0,
  4011.0,
  15981.0,
  7806.0,
  8118.0,
  8990.0,
  20047.0,
  7910.0,
  528038.0,
  7129.0,
  132721.0,
  27748.0,
  10730.0,
  8540.0,
  4111.0,
  14354.0,
  24154.0,
  8722.0,
  10093.0,
  17471.0,
  17412.0,
  14881.0,
  61618.0,
  16860.0,
  21018.0,
  18278.0,
  13380.0,
  29835.0,
  3627.0,
  13951.0,
  7019.0,
  7201.0,
  7961.0,
  18207.0,
  6686.0,
  429698.0,
  5623.0,
  105769.0,
  19861.0,
  9233.0,
  6769.0,
  3401.0,
  10747.0,
  17095.0,
  6996.0,
  8245.0,
  14387.0,
  14056.0,
  12074.0,
  50382.0,
  15215.0,
  18099.0,
  16160.0,
  10840.0,
  23772.0,
  3276.0,
  13285.0,
  6667.0,
  6932.0,
  6733.0,
  15005.0,
  6059.0,
  321898.0,
  4167.0,
  77507.0,
  13627.0,
  6858.0,
  4752.0,
  3034.0,
  7870.0,
  11845.0,
  5056.0,
  5866.0,
  10837.0,
  10148.0,
  9509.0,
  38101.0,
  12154.0,
  14231.0,
  12577.0,
  8172.0,
  17492.0,
  2586.0,
  10617.0,
  5282.0,
  5465.0,
  5103.0,
  12037.0,
  4810.0,
  163036.0,
  2101.0,
  39288.0,
  5296.0,
  3501.0,
  2361.0,
  1466.0,
  3821.0,
  5355.0,
  2592.0,
  2926.0,
  6081.0,
  5011.0,
  4529.0,
  19183.0,
  6053.0,
  7017.0,
  6612.0,
  4422.0,
  8565.0,
  1357.0,
  5398.0,
  2743.0,
  2753.0,
  2500.0,
  6015.0,
  2258.0,
  49095.0,
  596.0,
  12661.0,
  1249.0,
  1096.0,
  776.0,
  448.0,
  1107.0,
  1421.0,
  759.0,
  906.0,
  1651.0,
  1249.0,
  1259.0,
  5916.0,
  1817.0,
  1980.0,
  2179.0,
  1304.0,
  2427.0,
  437.0,
  1665.0,
  937.0,
  850.0,
  830.0,
  1672.0,
  692.0,
  2474786.0,
  33032.0,
  604585.0,
  114765.0,
  52406.0,
  39983.0,
  21445.0,
  62729.0,
  101765.0,
  41827.0,
  47901.0,
  83555.0,
  77784.0,
  70126.0,
  293550.0,
  86017.0,
  106362.0,
  91387.0,
  63854.0,
  142499.0,
  19098.0,
  76678.0,
  38038.0,
  38531.0,
  40299.0,
  90568.0,
  36002.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  32143.0,
  357.0,
  4600.0,
  1255.0,
  802.0,
  492.0,
  299.0,
  643.0,
  1290.0,
  563.0,
  624.0,
  1255.0,
  983.0,
  1221.0,
  4677.0,
  1321.0,
  1773.0,
  1306.0,
  920.0,
  1847.0,
  331.0,
  1378.0,
  704.0,
  645.0,
  677.0,
  1452.0,
  728.0,
  104433.0,
  1478.0,
  19079.0,
  4368.0,
  2486.0,
  1671.0,
  999.0,
  2379.0,
  4138.0,
  1950.0,
  2080.0,
  3825.0,
  3059.0,
  3422.0,
  13586.0,
  3961.0,
  4863.0,
  4197.0,
  2826.0,
  6529.0,
  970.0,
  4093.0,
  1887.0,
  1873.0,
  2064.0,
  4601.0,
  2049.0,
  206451.0,
  2851.0,
  45815.0,
  9104.0,
  4475.0,
  3509.0,
  1917.0,
  5136.0,
  7999.0,
  3738.0,
  4123.0,
  6948.0,
  5818.0,
  5805.0,
  24411.0,
  7390.0,
  9289.0,
  7817.0,
  5327.0,
  12711.0,
  1715.0,
  7446.0,
  3487.0,
  3388.0,
  3743.0,
  8919.0,
  3570.0,
  573705.0,
  8010.0,
  149100.0,
  27980.0,
  11402.0,
  9761.0,
  4976.0,
  14528.0,
  24282.0,
  9730.0,
  11148.0,
  18000.0,
  17006.0,
  14987.0,
  66501.0,
  18441.0,
  24747.0,
  19710.0,
  14532.0,
  34563.0,
  4112.0,
  16454.0,
  7987.0,
  8242.0,
  9218.0,
  20179.0,
  8109.0,
  544888.0,
  7324.0,
  137832.0,
  28999.0,
  11176.0,
  8958.0,
  4333.0,
  14828.0,
  25540.0,
  9117.0,
  10663.0,
  18176.0,
  18275.0,
  15356.0,
  63902.0,
  17547.0,
  22008.0,
  18859.0,
  13820.0,
  31264.0,
  3749.0,
  14467.0,
  7343.0,
  7419.0,
  8301.0,
  18646.0,
  6986.0,
  445387.0,
  5806.0,
  110181.0,
  20826.0,
  9655.0,
  7100.0,
  3554.0,
  11329.0,
  18145.0,
  7506.0,
  8692.0,
  15161.0,
  14773.0,
  12695.0,
  52648.0,
  15730.0,
  18663.0,
  16633.0,
  11434.0,
  24674.0,
  3449.0,
  13718.0,
  6860.0,
  7143.0,
  7149.0,
  15544.0,
  6319.0,
  336367.0,
  4283.0,
  80759.0,
  14581.0,
  7230.0,
  5011.0,
  3193.0,
  8260.0,
  12682.0,
  5403.0,
  6267.0,
  11492.0,
  10717.0,
  10035.0,
  39942.0,
  12841.0,
  14916.0,
  13106.0,
  8617.0,
  18532.0,
  2766.0,
  11292.0,
  5645.0,
  5851.0,
  5389.0,
  12537.0,
  5020.0,
  176855.0,
  2258.0,
  42928.0,
  6163.0,
  3930.0,
  2599.0,
  1646.0,
  4355.0,
  6057.0,
  2878.0,
  3276.0,
  6786.0,
  5677.0,
  5114.0,
  21252.0,
  6736.0,
  7832.0,
  7310.0,
  4885.0,
  9596.0,
  1515.0,
  5954.0,
  3056.0,
  2998.0,
  2818.0,
  6779.0,
  2457.0,
  54557.0,
  665.0,
  14291.0,
  1489.0,
  1250.0,
  882.0,
  528.0,
  1271.0,
  1632.0,
  942.0,
  1028.0,
  1912.0,
  1476.0,
  1491.0,
  6631.0,
  2050.0,
  2271.0,
  2449.0,
  1493.0,
  2783.0,
  491.0,
  1876.0,
  1069.0,
  972.0,
  940.0,
  1911.0,
  764.0,
  2523627.0,
  33744.0,
  616734.0,
  116848.0,
  53397.0,
  41113.0,
  21940.0,
  64287.0,
  104528.0,
  42745.0,
  48994.0,
  85474.0,
  79563.0,
  71407.0,
  299348.0,
  87393.0,
  107983.0,
  93415.0,
  65122.0,
  144739.0,
  19491.0,
  78159.0,
  38756.0,
  39111.0,
  41376.0,
  91267.0,
  36693.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  34553.0,
  425.0,
  4741.0,
  1420.0,
  914.0,
  567.0,
  309.0,
  685.0,
  1381.0,
  689.0,
  702.0,
  1375.0,
  994.0,
  1327.0,
  4869.0,
  1385.0,
  1859.0,
  1504.0,
  1083.0,
  2081.0,
  362.0,
  1482.0,
  740.0,
  651.0,
  755.0,
  1517.0,
  736.0,
  101966.0,
  1467.0,
  18689.0,
  4340.0,
  2396.0,
  1653.0,
  990.0,
  2333.0,
  4150.0,
  1867.0,
  2056.0,
  3776.0,
  3024.0,
  3397.0,
  13151.0,
  3828.0,
  4709.0,
  4184.0,
  2728.0,
  6228.0,
  930.0,
  3956.0,
  1868.0,
  1844.0,
  2033.0,
  4366.0,
  2003.0,
  201123.0,
  2804.0,
  44621.0,
  8728.0,
  4445.0,
  3430.0,
  1902.0,
  5053.0,
  7837.0,
  3699.0,
  4003.0,
  6832.0,
  5726.0,
  5667.0,
  23961.0,
  7120.0,
  8959.0,
  7737.0,
  5241.0,
  12216.0,
  1642.0,
  7248.0,
  3336.0,
  3257.0,
  3666.0,
  8516.0,
  3477.0,
  575488.0,
  7985.0,
  150318.0,
  27767.0,
  11324.0,
  9894.0,
  5047.0,
  14664.0,
  24151.0,
  9774.0,
  11285.0,
  18095.0,
  17037.0,
  14876.0,
  66694.0,
  18525.0,
  24733.0,
  19796.0,
  14445.0,
  34325.0,
  4166.0,
  16641.0,
  8091.0,
  8306.0,
  9352.0,
  19916.0,
  8281.0,
  557670.0,
  7514.0,
  141480.0,
  29413.0,
  11388.0,
  9260.0,
  4454.0,
  15229.0,
  26404.0,
  9329.0,
  10924.0,
  18552.0,
  18635.0,
  15527.0,
  65348.0,
  17804.0,
  22579.0,
  19270.0,
  14110.0,
  32113.0,
  3825.0,
  14762.0,
  7537.0,
  7604.0,
  8594.0,
  18878.0,
  7137.0,
  458160.0,
  6031.0,
  112922.0,
  21560.0,
  9932.0,
  7374.0,
  3657.0,
  11785.0,
  19001.0,
  7746.0,
  9008.0,
  15718.0,
  15320.0,
  13191.0,
  54351.0,
  16099.0,
  18952.0,
  17041.0,
  11845.0,
  25317.0,
  3529.0,
  13945.0,
  6922.0,
  7222.0,
  7331.0,
  15903.0,
  6458.0,
  347731.0,
  4401.0,
  83338.0,
  15231.0,
  7528.0,
  5245.0,
  3269.0,
  8561.0,
  13234.0,
  5626.0,
  6457.0,
  11845.0,
  11104.0,
  10313.0,
  41200.0,
  13187.0,
  15396.0,
  13578.0,
  8863.0,
  19182.0,
  2900.0,
  11760.0,
  5839.0,
  5984.0,
  5635.0,
  12890.0,
  5165.0,
  188455.0,
  2391.0,
  45288.0,
  6730.0,
  4159.0,
  2796.0,
  1752.0,
  4634.0,
  6565.0,
  3005.0,
  3479.0,
  7211.0,
  6066.0,
  5487.0,
  22669.0,
  7287.0,
  8346.0,
  7680.0,
  5228.0,
  10301.0,
  1621.0,
  6412.0,
  3294.0,
  3234.0,
  2990.0,
  7214.0,
  2616.0,
  58481.0,
  726.0,
  15337.0,
  1659.0,
  1311.0,
  894.0,
  560.0,
  1343.0,
  1805.0,
  1010.0,
  1080.0,
  2070.0,
  1657.0,
  1622.0,
  7105.0,
  2158.0,
  2450.0,
  2625.0,
  1579.0,
  2976.0,
  516.0,
  1953.0,
  1129.0,
  1009.0,
  1020.0,
  2067.0,
  820.0,
  2570871.0,
  34473.0,
  630156.0,
  119353.0,
  54370.0,
  42045.0,
  22396.0,
  65862.0,
  107485.0,
  43595.0,
  50074.0,
  87072.0,
  81260.0,
  72626.0,
  304499.0,
  88716.0,
  109824.0,
  95002.0,
  66314.0,
  146267.0,
  19831.0,
  79507.0,
  39285.0,
  39517.0,
  42313.0,
  91760.0,
  37269.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  35173.0,
  440.0,
  4843.0,
  1512.0,
  891.0,
  474.0,
  322.0,
  732.0,
  1485.0,
  744.0,
  705.0,
  1445.0,
  1050.0,
  1347.0,
  5058.0,
  1443.0,
  1923.0,
  1541.0,
  1069.0,
  1978.0,
  342.0,
  1450.0,
  730.0,
  636.0,
  802.0,
  1464.0,
  747.0,
  100074.0,
  1356.0,
  18229.0,
  4430.0,
  2373.0,
  1677.0,
  948.0,
  2303.0,
  4233.0,
  1878.0,
  2075.0,
  3712.0,
  3082.0,
  3406.0,
  12774.0,
  3793.0,
  4769.0,
  4131.0,
  2670.0,
  5915.0,
  917.0,
  3777.0,
  1786.0,
  1727.0,
  2004.0,
  4205.0,
  1904.0,
  194951.0,
  ...]}

In [6]:
data['dataset'].keys()

dict_keys(['dimension', 'label', 'source', 'updated', 'value'])

In [7]:
data['dataset']['value']

[2414393.0,
 32543.0,
 585835.0,
 110204.0,
 50544.0,
 38520.0,
 20564.0,
 60424.0,
 97192.0,
 39831.0,
 45887.0,
 80271.0,
 74518.0,
 67553.0,
 284697.0,
 83093.0,
 102890.0,
 89039.0,
 61708.0,
 138145.0,
 18286.0,
 74122.0,
 36569.0,
 37364.0,
 38585.0,
 88505.0,
 34830.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 31634.0,
 390.0,
 4378.0,
 1103.0,
 753.0,
 427.0,
 276.0,
 556.0,
 1167.0,
 523.0,
 575.0,
 1209.0,
 864.0,
 1158.0,
 4616.0,
 1244.0,
 1628.0,
 1204.0,
 852.0,
 1861.0,
 300.0,
 1324.0,
 632.0,
 613.0,
 612.0,
 1539.0,
 689.0,
 106965.0,
 1517.0,
 19429.0,
 4311.0,
 2502.0,
 1729.0,
 970.0,
 2473.0,
 4089.0,
 1927.0,
 2088.0,
 3863.0,
 3042.0,
 3338.0,
 13790.0,
 4049.0,
 4939.0,
 4266.0,
 2869.0,
 6604.0,
 973.0,
 4249.0,
 1916.0,
 1934.0,
 2075.0,
 4786.0,
 2107.0,
 213428.0,
 3034.0,
 46949.0,
 9559.0,
 4494.0,
 3648.0,
 2006.0,
 5182.0,
 8121.0,
 3797.0,
 4203.0,
 7082.0,
 5892.0,
 5954.0,
 25142.0,
 7567.0,
 9549.0,
 8091.0,
 5450.0,
 13249.0,
 1719.0,
 7652.0,
 3567.0,
 3498.0,
 3781.0,
 9197.0,
 3619.0,
 570601.0,
 7986.0,
 147133.0,
 27450.0,
 11377.0,
 9518.0,
 4852.0,
 14314.0,
 23945.0,
 9459.0,
 10985.0,
 17690.0,
 16844.0,
 14851.0,
 65949.0,
 18134.0,
 24429.0,
 19672.0,
 14419.0,
 34340.0,
 4011.0,
 15981.0,
 7806.0,
 8118.0,
 8990.0,
 20047.0,
 7910.0,
 528038.0,
 7129.0,
 132721.0,
 27748.0,
 10730.0,
 8540.0,
 4111.0,
 14354.0,
 24154.0,
 8722.0,
 10093.0,
 17471.0,
 17412.0,
 14881.0,
 61618.0,
 16860.0,
 21018.0,
 18278.0,
 13380.0,
 29835.0,
 3627.0,
 13951.0,
 7019.0,
 7201.0,
 7961.0,
 18207.0,
 6686.0,
 429698.0,
 5623.0,
 105769.0,
 19861.0,
 9233.0,
 6769.0,
 3401.0,
 10747.0,
 17095.0,
 6996.0,
 8245.0,
 14387.0,
 14056.0,
 12074.0,
 50382.0,
 15215.0,
 18099.0,
 16160.0,
 10840.0,
 23772.0,
 3276.0,
 13285.0,
 6667.0,
 6932.0,
 6733.0,
 15005.0,
 6059.0,
 321898.0,
 4167.0,
 77507.0,
 13627.0,
 6858.0,
 4752.0,
 3034.0,
 7870.0,
 11845.0,
 5056.0,
 5866.0,
 10837.0,
 10148.0,
 9509.0,
 38101.0,
 12154.0,
 14231.0,
 12577.0,
 8172.0,
 17492.0,
 2586.0,
 10617.0,
 5282.0,
 5465.0,
 5103.0,
 12037.0,
 4810.0,
 163036.0,
 2101.0,
 39288.0,
 5296.0,
 3501.0,
 2361.0,
 1466.0,
 3821.0,
 5355.0,
 2592.0,
 2926.0,
 6081.0,
 5011.0,
 4529.0,
 19183.0,
 6053.0,
 7017.0,
 6612.0,
 4422.0,
 8565.0,
 1357.0,
 5398.0,
 2743.0,
 2753.0,
 2500.0,
 6015.0,
 2258.0,
 49095.0,
 596.0,
 12661.0,
 1249.0,
 1096.0,
 776.0,
 448.0,
 1107.0,
 1421.0,
 759.0,
 906.0,
 1651.0,
 1249.0,
 1259.0,
 5916.0,
 1817.0,
 1980.0,
 2179.0,
 1304.0,
 2427.0,
 437.0,
 1665.0,
 937.0,
 850.0,
 830.0,
 1672.0,
 692.0,
 2474786.0,
 33032.0,
 604585.0,
 114765.0,
 52406.0,
 39983.0,
 21445.0,
 62729.0,
 101765.0,
 41827.0,
 47901.0,
 83555.0,
 77784.0,
 70126.0,
 293550.0,
 86017.0,
 106362.0,
 91387.0,
 63854.0,
 142499.0,
 19098.0,
 76678.0,
 38038.0,
 38531.0,
 40299.0,
 90568.0,
 36002.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 32143.0,
 357.0,
 4600.0,
 1255.0,
 802.0,
 492.0,
 299.0,
 643.0,
 1290.0,
 563.0,
 624.0,
 1255.0,
 983.0,
 1221.0,
 4677.0,
 1321.0,
 1773.0,
 1306.0,
 920.0,
 1847.0,
 331.0,
 1378.0,
 704.0,
 645.0,
 677.0,
 1452.0,
 728.0,
 104433.0,
 1478.0,
 19079.0,
 4368.0,
 2486.0,
 1671.0,
 999.0,
 2379.0,
 4138.0,
 1950.0,
 2080.0,
 3825.0,
 3059.0,
 3422.0,
 13586.0,
 3961.0,
 4863.0,
 4197.0,
 2826.0,
 6529.0,
 970.0,
 4093.0,
 1887.0,
 1873.0,
 2064.0,
 4601.0,
 2049.0,
 206451.0,
 2851.0,
 45815.0,
 9104.0,
 4475.0,
 3509.0,
 1917.0,
 5136.0,
 7999.0,
 3738.0,
 4123.0,
 6948.0,
 5818.0,
 5805.0,
 24411.0,
 7390.0,
 9289.0,
 7817.0,
 5327.0,
 12711.0,
 1715.0,
 7446.0,
 3487.0,
 3388.0,
 3743.0,
 8919.0,
 3570.0,
 573705.0,
 8010.0,
 149100.0,
 27980.0,
 11402.0,
 9761.0,
 4976.0,
 14528.0,
 24282.0,
 9730.0,
 11148.0,
 18000.0,
 17006.0,
 14987.0,
 66501.0,
 18441.0,
 24747.0,
 19710.0,
 14532.0,
 34563.0,
 4112.0,
 16454.0,
 7987.0,
 8242.0,
 9218.0,
 20179.0,
 8109.0,
 544888.0,
 7324.0,
 137832.0,
 28999.0,
 11176.0,
 8958.0,
 4333.0,
 14828.0,
 25540.0,
 9117.0,
 10663.0,
 18176.0,
 18275.0,
 15356.0,
 63902.0,
 17547.0,
 22008.0,
 18859.0,
 13820.0,
 31264.0,
 3749.0,
 14467.0,
 7343.0,
 7419.0,
 8301.0,
 18646.0,
 6986.0,
 445387.0,
 5806.0,
 110181.0,
 20826.0,
 9655.0,
 7100.0,
 3554.0,
 11329.0,
 18145.0,
 7506.0,
 8692.0,
 15161.0,
 14773.0,
 12695.0,
 52648.0,
 15730.0,
 18663.0,
 16633.0,
 11434.0,
 24674.0,
 3449.0,
 13718.0,
 6860.0,
 7143.0,
 7149.0,
 15544.0,
 6319.0,
 336367.0,
 4283.0,
 80759.0,
 14581.0,
 7230.0,
 5011.0,
 3193.0,
 8260.0,
 12682.0,
 5403.0,
 6267.0,
 11492.0,
 10717.0,
 10035.0,
 39942.0,
 12841.0,
 14916.0,
 13106.0,
 8617.0,
 18532.0,
 2766.0,
 11292.0,
 5645.0,
 5851.0,
 5389.0,
 12537.0,
 5020.0,
 176855.0,
 2258.0,
 42928.0,
 6163.0,
 3930.0,
 2599.0,
 1646.0,
 4355.0,
 6057.0,
 2878.0,
 3276.0,
 6786.0,
 5677.0,
 5114.0,
 21252.0,
 6736.0,
 7832.0,
 7310.0,
 4885.0,
 9596.0,
 1515.0,
 5954.0,
 3056.0,
 2998.0,
 2818.0,
 6779.0,
 2457.0,
 54557.0,
 665.0,
 14291.0,
 1489.0,
 1250.0,
 882.0,
 528.0,
 1271.0,
 1632.0,
 942.0,
 1028.0,
 1912.0,
 1476.0,
 1491.0,
 6631.0,
 2050.0,
 2271.0,
 2449.0,
 1493.0,
 2783.0,
 491.0,
 1876.0,
 1069.0,
 972.0,
 940.0,
 1911.0,
 764.0,
 2523627.0,
 33744.0,
 616734.0,
 116848.0,
 53397.0,
 41113.0,
 21940.0,
 64287.0,
 104528.0,
 42745.0,
 48994.0,
 85474.0,
 79563.0,
 71407.0,
 299348.0,
 87393.0,
 107983.0,
 93415.0,
 65122.0,
 144739.0,
 19491.0,
 78159.0,
 38756.0,
 39111.0,
 41376.0,
 91267.0,
 36693.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 34553.0,
 425.0,
 4741.0,
 1420.0,
 914.0,
 567.0,
 309.0,
 685.0,
 1381.0,
 689.0,
 702.0,
 1375.0,
 994.0,
 1327.0,
 4869.0,
 1385.0,
 1859.0,
 1504.0,
 1083.0,
 2081.0,
 362.0,
 1482.0,
 740.0,
 651.0,
 755.0,
 1517.0,
 736.0,
 101966.0,
 1467.0,
 18689.0,
 4340.0,
 2396.0,
 1653.0,
 990.0,
 2333.0,
 4150.0,
 1867.0,
 2056.0,
 3776.0,
 3024.0,
 3397.0,
 13151.0,
 3828.0,
 4709.0,
 4184.0,
 2728.0,
 6228.0,
 930.0,
 3956.0,
 1868.0,
 1844.0,
 2033.0,
 4366.0,
 2003.0,
 201123.0,
 2804.0,
 44621.0,
 8728.0,
 4445.0,
 3430.0,
 1902.0,
 5053.0,
 7837.0,
 3699.0,
 4003.0,
 6832.0,
 5726.0,
 5667.0,
 23961.0,
 7120.0,
 8959.0,
 7737.0,
 5241.0,
 12216.0,
 1642.0,
 7248.0,
 3336.0,
 3257.0,
 3666.0,
 8516.0,
 3477.0,
 575488.0,
 7985.0,
 150318.0,
 27767.0,
 11324.0,
 9894.0,
 5047.0,
 14664.0,
 24151.0,
 9774.0,
 11285.0,
 18095.0,
 17037.0,
 14876.0,
 66694.0,
 18525.0,
 24733.0,
 19796.0,
 14445.0,
 34325.0,
 4166.0,
 16641.0,
 8091.0,
 8306.0,
 9352.0,
 19916.0,
 8281.0,
 557670.0,
 7514.0,
 141480.0,
 29413.0,
 11388.0,
 9260.0,
 4454.0,
 15229.0,
 26404.0,
 9329.0,
 10924.0,
 18552.0,
 18635.0,
 15527.0,
 65348.0,
 17804.0,
 22579.0,
 19270.0,
 14110.0,
 32113.0,
 3825.0,
 14762.0,
 7537.0,
 7604.0,
 8594.0,
 18878.0,
 7137.0,
 458160.0,
 6031.0,
 112922.0,
 21560.0,
 9932.0,
 7374.0,
 3657.0,
 11785.0,
 19001.0,
 7746.0,
 9008.0,
 15718.0,
 15320.0,
 13191.0,
 54351.0,
 16099.0,
 18952.0,
 17041.0,
 11845.0,
 25317.0,
 3529.0,
 13945.0,
 6922.0,
 7222.0,
 7331.0,
 15903.0,
 6458.0,
 347731.0,
 4401.0,
 83338.0,
 15231.0,
 7528.0,
 5245.0,
 3269.0,
 8561.0,
 13234.0,
 5626.0,
 6457.0,
 11845.0,
 11104.0,
 10313.0,
 41200.0,
 13187.0,
 15396.0,
 13578.0,
 8863.0,
 19182.0,
 2900.0,
 11760.0,
 5839.0,
 5984.0,
 5635.0,
 12890.0,
 5165.0,
 188455.0,
 2391.0,
 45288.0,
 6730.0,
 4159.0,
 2796.0,
 1752.0,
 4634.0,
 6565.0,
 3005.0,
 3479.0,
 7211.0,
 6066.0,
 5487.0,
 22669.0,
 7287.0,
 8346.0,
 7680.0,
 5228.0,
 10301.0,
 1621.0,
 6412.0,
 3294.0,
 3234.0,
 2990.0,
 7214.0,
 2616.0,
 58481.0,
 726.0,
 15337.0,
 1659.0,
 1311.0,
 894.0,
 560.0,
 1343.0,
 1805.0,
 1010.0,
 1080.0,
 2070.0,
 1657.0,
 1622.0,
 7105.0,
 2158.0,
 2450.0,
 2625.0,
 1579.0,
 2976.0,
 516.0,
 1953.0,
 1129.0,
 1009.0,
 1020.0,
 2067.0,
 820.0,
 2570871.0,
 34473.0,
 630156.0,
 119353.0,
 54370.0,
 42045.0,
 22396.0,
 65862.0,
 107485.0,
 43595.0,
 50074.0,
 87072.0,
 81260.0,
 72626.0,
 304499.0,
 88716.0,
 109824.0,
 95002.0,
 66314.0,
 146267.0,
 19831.0,
 79507.0,
 39285.0,
 39517.0,
 42313.0,
 91760.0,
 37269.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 35173.0,
 440.0,
 4843.0,
 1512.0,
 891.0,
 474.0,
 322.0,
 732.0,
 1485.0,
 744.0,
 705.0,
 1445.0,
 1050.0,
 1347.0,
 5058.0,
 1443.0,
 1923.0,
 1541.0,
 1069.0,
 1978.0,
 342.0,
 1450.0,
 730.0,
 636.0,
 802.0,
 1464.0,
 747.0,
 100074.0,
 1356.0,
 18229.0,
 4430.0,
 2373.0,
 1677.0,
 948.0,
 2303.0,
 4233.0,
 1878.0,
 2075.0,
 3712.0,
 3082.0,
 3406.0,
 12774.0,
 3793.0,
 4769.0,
 4131.0,
 2670.0,
 5915.0,
 917.0,
 3777.0,
 1786.0,
 1727.0,
 2004.0,
 4205.0,
 1904.0,
 194951.0,
 ...]

In [8]:
data['dataset']['label']

'Current Driving Licences'

In [9]:
data['dataset']['dimension'].keys()

dict_keys(['STATISTIC', 'TLIST(A1)', 'C02076V03371', 'C03424V04122', 'role', 'id', 'size'])

In [10]:
# Anahtarları yinelemeli olarak bulan fonksiyon
def find_keys(data, path=None):
    if path is None:
        path = []
    if isinstance(data, dict):
        for k, v in data.items():
            yield path + [k]
            yield from find_keys(v, path + [k])
    elif isinstance(data, list):
        for item in data:
            yield from find_keys(item, path + ["list-item"])

# Fonksiyonu test edelim
keys_list = list(find_keys(data))
for key_path in keys_list:
    print(" -> ".join(key_path))

dataset
dataset -> dimension
dataset -> dimension -> STATISTIC
dataset -> dimension -> STATISTIC -> label
dataset -> dimension -> STATISTIC -> category
dataset -> dimension -> STATISTIC -> category -> index
dataset -> dimension -> STATISTIC -> category -> index -> ROA26C01
dataset -> dimension -> STATISTIC -> category -> index -> ROA26C02
dataset -> dimension -> STATISTIC -> category -> label
dataset -> dimension -> STATISTIC -> category -> label -> ROA26C01
dataset -> dimension -> STATISTIC -> category -> label -> ROA26C02
dataset -> dimension -> STATISTIC -> category -> unit
dataset -> dimension -> STATISTIC -> category -> unit -> ROA26C01
dataset -> dimension -> STATISTIC -> category -> unit -> ROA26C01 -> base
dataset -> dimension -> STATISTIC -> category -> unit -> ROA26C02
dataset -> dimension -> STATISTIC -> category -> unit -> ROA26C02 -> base
dataset -> dimension -> TLIST(A1)
dataset -> dimension -> TLIST(A1) -> label
dataset -> dimension -> TLIST(A1) -> category
dataset -> dimension -> TLIST(A1) -> category -> index
dataset -> dimension -> TLIST(A1) -> category -> index -> 2013
dataset -> dimension -> TLIST(A1) -> category -> index -> 2014
dataset -> dimension -> TLIST(A1) -> category -> index -> 2015
dataset -> dimension -> TLIST(A1) -> category -> index -> 2016
dataset -> dimension -> TLIST(A1) -> category -> index -> 2017
dataset -> dimension -> TLIST(A1) -> category -> index -> 2018
dataset -> dimension -> TLIST(A1) -> category -> index -> 2019
dataset -> dimension -> TLIST(A1) -> category -> index -> 2020
dataset -> dimension -> TLIST(A1) -> category -> index -> 2021
dataset -> dimension -> TLIST(A1) -> category -> index -> 2022
dataset -> dimension -> TLIST(A1) -> category -> label
dataset -> dimension -> TLIST(A1) -> category -> label -> 2013
dataset -> dimension -> TLIST(A1) -> category -> label -> 2014
dataset -> dimension -> TLIST(A1) -> category -> label -> 2015
dataset -> dimension -> TLIST(A1) -> category -> label -> 2016
dataset -> dimension -> TLIST(A1) -> category -> label -> 2017
dataset -> dimension -> TLIST(A1) -> category -> label -> 2018
dataset -> dimension -> TLIST(A1) -> category -> label -> 2019
dataset -> dimension -> TLIST(A1) -> category -> label -> 2020
dataset -> dimension -> TLIST(A1) -> category -> label -> 2021
dataset -> dimension -> TLIST(A1) -> category -> label -> 2022
dataset -> dimension -> C02076V03371
dataset -> dimension -> C02076V03371 -> label
dataset -> dimension -> C02076V03371 -> category
dataset -> dimension -> C02076V03371 -> category -> index
dataset -> dimension -> C02076V03371 -> category -> index -> -
dataset -> dimension -> C02076V03371 -> category -> index -> 336
dataset -> dimension -> C02076V03371 -> category -> index -> 3401
dataset -> dimension -> C02076V03371 -> category -> index -> 385
dataset -> dimension -> C02076V03371 -> category -> index -> 410
dataset -> dimension -> C02076V03371 -> category -> index -> 445
dataset -> dimension -> C02076V03371 -> category -> index -> 480
dataset -> dimension -> C02076V03371 -> category -> index -> 520
dataset -> dimension -> C02076V03371 -> category -> index -> 555
dataset -> dimension -> C02076V03371 -> category -> index -> 585
dataset -> dimension -> C02076V03371 -> category -> index -> 620
dataset -> dimension -> C02076V03371 -> category -> label
dataset -> dimension -> C02076V03371 -> category -> label -> -
dataset -> dimension -> C02076V03371 -> category -> label -> 336
dataset -> dimension -> C02076V03371 -> category -> label -> 3401
dataset -> dimension -> C02076V03371 -> category -> label -> 385
dataset -> dimension -> C02076V03371 -> category -> label -> 410
dataset -> dimension -> C02076V03371 -> category -> label -> 445
dataset -> dimension -> C02076V03371 -> category -> label -> 480
dataset -> dimension -> C02076V03371 -> category -> label -> 520
dataset -> dimension -> C02076V03371 -> category -> label -> 555
dataset -> dimension -> C02076V03371 -> category -> label -> 585
dataset -> dimension -> C02076V03371 -> category -> label -> 620
dataset -> dimension -> C03424V04122
dataset -> dimension -> C03424V04122 -> label
dataset -> dimension -> C03424V04122 -> category
dataset -> dimension -> C03424V04122 -> category -> index
dataset -> dimension -> C03424V04122 -> category -> index -> -
dataset -> dimension -> C03424V04122 -> category -> index -> 01
dataset -> dimension -> C03424V04122 -> category -> index -> 02
dataset -> dimension -> C03424V04122 -> category -> index -> 03
dataset -> dimension -> C03424V04122 -> category -> index -> 04
dataset -> dimension -> C03424V04122 -> category -> index -> 05
dataset -> dimension -> C03424V04122 -> category -> index -> 06
dataset -> dimension -> C03424V04122 -> category -> index -> 07
dataset -> dimension -> C03424V04122 -> category -> index -> 08
dataset -> dimension -> C03424V04122 -> category -> index -> 09
dataset -> dimension -> C03424V04122 -> category -> index -> 10
dataset -> dimension -> C03424V04122 -> category -> index -> 11
dataset -> dimension -> C03424V04122 -> category -> index -> 12
dataset -> dimension -> C03424V04122 -> category -> index -> 13
dataset -> dimension -> C03424V04122 -> category -> index -> 14
dataset -> dimension -> C03424V04122 -> category -> index -> 15
dataset -> dimension -> C03424V04122 -> category -> index -> 16
dataset -> dimension -> C03424V04122 -> category -> index -> 17
dataset -> dimension -> C03424V04122 -> category -> index -> 18
dataset -> dimension -> C03424V04122 -> category -> index -> 19
dataset -> dimension -> C03424V04122 -> category -> index -> 20
dataset -> dimension -> C03424V04122 -> category -> index -> 21
dataset -> dimension -> C03424V04122 -> category -> index -> 22
dataset -> dimension -> C03424V04122 -> category -> index -> 23
dataset -> dimension -> C03424V04122 -> category -> index -> 24
dataset -> dimension -> C03424V04122 -> category -> index -> 25
dataset -> dimension -> C03424V04122 -> category -> index -> 26
dataset -> dimension -> C03424V04122 -> category -> label
dataset -> dimension -> C03424V04122 -> category -> label -> -
dataset -> dimension -> C03424V04122 -> category -> label -> 01
dataset -> dimension -> C03424V04122 -> category -> label -> 02
dataset -> dimension -> C03424V04122 -> category -> label -> 03
dataset -> dimension -> C03424V04122 -> category -> label -> 04
dataset -> dimension -> C03424V04122 -> category -> label -> 05
dataset -> dimension -> C03424V04122 -> category -> label -> 06
dataset -> dimension -> C03424V04122 -> category -> label -> 07
dataset -> dimension -> C03424V04122 -> category -> label -> 08
dataset -> dimension -> C03424V04122 -> category -> label -> 09
dataset -> dimension -> C03424V04122 -> category -> label -> 10
dataset -> dimension -> C03424V04122 -> category -> label -> 11
dataset -> dimension -> C03424V04122 -> category -> label -> 12
dataset -> dimension -> C03424V04122 -> category -> label -> 13
dataset -> dimension -> C03424V04122 -> category -> label -> 14
dataset -> dimension -> C03424V04122 -> category -> label -> 15
dataset -> dimension -> C03424V04122 -> category -> label -> 16
dataset -> dimension -> C03424V04122 -> category -> label -> 17
dataset -> dimension -> C03424V04122 -> category -> label -> 18
dataset -> dimension -> C03424V04122 -> category -> label -> 19
dataset -> dimension -> C03424V04122 -> category -> label -> 20
dataset -> dimension -> C03424V04122 -> category -> label -> 21
dataset -> dimension -> C03424V04122 -> category -> label -> 22
dataset -> dimension -> C03424V04122 -> category -> label -> 23
dataset -> dimension -> C03424V04122 -> category -> label -> 24
dataset -> dimension -> C03424V04122 -> category -> label -> 25
dataset -> dimension -> C03424V04122 -> category -> label -> 26
dataset -> dimension -> role
dataset -> dimension -> role -> metric
dataset -> dimension -> role -> time
dataset -> dimension -> id
dataset -> dimension -> size
dataset -> label
dataset -> source
dataset -> updated
dataset -> value

In [11]:
# Boyutlar ve etiketler
dimensions = data['dataset']['dimension']
values = data['dataset']['value']  # Değerlerin listesi

# DataFrame sütunlarını oluşturmak için boyutlardan indeks ve etiketleri çıkar
stats = list(dimensions['STATISTIC']['category']['label'].values())
years = list(dimensions['TLIST(A1)']['category']['label'].values())
age_groups = list(dimensions['C02076V03371']['category']['label'].values())
authorities = list(dimensions['C03424V04122']['category']['label'].values())
values=data['dataset']['value']

In [12]:
# Converting each string in the list to an integer
int_years = [int(year) for year in years]
int_years

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [13]:
stats_list, years_list,int_years_list, age_groups_list, authorities_list = [], [], [], [], []

# JSON-stat değerlerinin çok boyutlu dizilimini düzleştirmek için her bir boyut boyunca döngü
for stat_label in stats:
    for year in int_years:
        for age_label in age_groups:
            for auth_label in authorities:
                stats_list.append(stat_label)
                int_years_list.append(year)
                age_groups_list.append(age_label)
                authorities_list.append(auth_label)

# DataFrame oluştur
df = pd.DataFrame({
    'Statistic': stats_list,
    'Year': int_years_list,
    'Age Group': age_groups_list,
    'Licensing Authority': authorities_list,
    'Value': values
})
df

,Statistic,Year,Age Group,Licensing Authority,Value
0,Full Driving Licences,2013,All ages,All licensing authorities,2414393.0
1,Full Driving Licences,2013,All ages,Carlow,32543.0
2,Full Driving Licences,2013,All ages,Dublin,585835.0
3,Full Driving Licences,2013,All ages,Kildare,110204.0
4,Full Driving Licences,2013,All ages,Kilkenny,50544.0
...,...,...,...,...,...
5935,Learner Permit Driving Licences,2022,80 years and over,Roscommon,8.0
5936,Learner Permit Driving Licences,2022,80 years and over,Sligo,3.0
5937,Learner Permit Driving Licences,2022,80 years and over,Cavan,7.0
5938,Learner Permit Driving Licences,2022,80 years and over,Donegal,8.0
5939,Learner Permit Driving Licences,2022,80 years and over,Monaghan,1.0

In [14]:
# JSON verisini düz bir tabloya dönüştüren fonksiyon
def process_json_data(data):
    # Veri çerçevesini oluşturacak verileri toplayacak listeler
    stats_list, years_list,int_years_list, age_groups_list, authorities_list = [], [], [], [], []

    # JSON-stat değerlerinin çok boyutlu dizilimini düzleştirmek için her bir boyut boyunca döngü
    for stat_label in stats:
        for year in int_years:
            for age_label in age_groups:
                for auth_label in authorities:
                    stats_list.append(stat_label)
                    int_years_list.append(year)
                    age_groups_list.append(age_label)
                    authorities_list.append(auth_label)
                    
    # DataFrame oluştur
    df = pd.DataFrame({
        'Statistic': stats_list,
        'Year': int_years_list,
        'Age Group': age_groups_list,
        'Licensing Authority': authorities_list,
        'Value': values
    })
    
    return df
# Fonksiyonu çağırarak verileri işle ve DataFrame oluştur
df = process_json_data(data)
df

,Statistic,Year,Age Group,Licensing Authority,Value
0,Full Driving Licences,2013,All ages,All licensing authorities,2414393.0
1,Full Driving Licences,2013,All ages,Carlow,32543.0
2,Full Driving Licences,2013,All ages,Dublin,585835.0
3,Full Driving Licences,2013,All ages,Kildare,110204.0
4,Full Driving Licences,2013,All ages,Kilkenny,50544.0
...,...,...,...,...,...
5935,Learner Permit Driving Licences,2022,80 years and over,Roscommon,8.0
5936,Learner Permit Driving Licences,2022,80 years and over,Sligo,3.0
5937,Learner Permit Driving Licences,2022,80 years and over,Cavan,7.0
5938,Learner Permit Driving Licences,2022,80 years and over,Donegal,8.0
5939,Learner Permit Driving Licences,2022,80 years and over,Monaghan,1.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5940 entries, 0 to 5939
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Statistic            5940 non-null   object
 1   Year                 5940 non-null   int64
 2   Age Group            5940 non-null   object
 3   Licensing Authority  5940 non-null   object
 4   Value                5940 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 232.2+ KB

In [16]:
df[(df["Year"]==2013) & (df["Licensing Authority"]=="Carlow")]

,Statistic,Year,Age Group,Licensing Authority,Value
1,Full Driving Licences,2013,All ages,Carlow,32543.0
28,Full Driving Licences,2013,Under 17 years,Carlow,0.0
55,Full Driving Licences,2013,17 - 20 years,Carlow,390.0
82,Full Driving Licences,2013,21 - 24 years,Carlow,1517.0
109,Full Driving Licences,2013,25 - 29 years,Carlow,3034.0
136,Full Driving Licences,2013,30 - 39 years,Carlow,7986.0
163,Full Driving Licences,2013,40 - 49 years,Carlow,7129.0
190,Full Driving Licences,2013,50 - 59 years,Carlow,5623.0
217,Full Driving Licences,2013,60 - 69 years,Carlow,4167.0
244,Full Driving Licences,2013,70 - 79 years,Carlow,2101.0
271,Full Driving Licences,2013,80 years and over,Carlow,596.0
2971,Learner Permit Driving Licences,2013,All ages,Carlow,3333.0
2998,Learner Permit Driving Licences,2013,Under 17 years,Carlow,22.0
3025,Learner Permit Driving Licences,2013,17 - 20 years,Carlow,752.0
3052,Learner Permit Driving Licences,2013,21 - 24 years,Carlow,673.0
3079,Learner Permit Driving Licences,2013,25 - 29 years,Carlow,583.0
3106,Learner Permit Driving Licences,2013,30 - 39 years,Carlow,758.0
3133,Learner Permit Driving Licences,2013,40 - 49 years,Carlow,303.0
3160,Learner Permit Driving Licences,2013,50 - 59 years,Carlow,163.0
3187,Learner Permit Driving Licences,2013,60 - 69 years,Carlow,54.0
3214,Learner Permit Driving Licences,2013,70 - 79 years,Carlow,20.0
3241,Learner Permit Driving Licences,2013,80 years and over,Carlow,5.0

In [17]:
total_rows = df.shape[0]                 # We assign the number of rows to "total_rows"
total_columns = df.shape[1]              # We assign the number of columns to "total_columns"
print(f"Total Rows= {total_rows}")       # We print the total number of rows
print(f"Total Columns= {total_columns}") # We print the total number of columns

Total Rows= 5940
Total Columns= 5

In [18]:
df2=pd.read_csv("People_with_a_driving_licence_11122023_114434.csv",sep=';') #We read the second data set with pandas
#veri setimiz noktali virgul ile ayrildigi icin sep parametresini ';' olarak ayarliyoruz

In [19]:
df2.head()

,Category driving licence,Age driving license holder,Periods,Region,People with a driving licence (number)
0,Passenger car driving licence total,Total,2014,Nederland,10658020.0
1,Passenger car driving licence total,Total,2015,Nederland,10755934.0
2,Passenger car driving licence total,Total,2016,Nederland,10894336.0
3,Passenger car driving licence total,Total,2017,Nederland,10986066.0
4,Passenger car driving licence total,Total,2018,Nederland,11070447.0

In [20]:
df2.sample(5)

,Category driving licence,Age driving license holder,Periods,Region,People with a driving licence (number)
88,Passenger car driving licence total,60 to 64 years,2022,Nederland,1025522.0
190,Bus driving licence total,50 to 59 years,2014,Nederland,155797.0
320,Moped driving licence,60 to 64 years,2014,Nederland,914188.0
191,Bus driving licence total,50 to 59 years,2015,Nederland,146032.0
274,Moped driving licence,20 to 24 years,2018,Nederland,765680.0

In [21]:
df2["Region"].unique()

array(['Nederland'], dtype=object)

In [22]:
total_rows = df2.shape[0]                 # We assign the number of rows to "total_rows"
total_columns = df2.shape[1]              # We assign the number of columns to "total_columns"
print(f"Total Rows= {total_rows}")       # We print the total number of rows
print(f"Total Columns= {total_columns}") # We print the total number of columns

Total Rows= 600
Total Columns= 5

In [23]:
df2.isnull().sum()                        # We count the number of null values in each column of the dataframe

Category driving licence                   0
Age driving license holder                 0
Periods                                    0
Region                                     0
People with a driving licence (number)    30
dtype: int64

In [26]:
df2.duplicated().sum()                    # We count the total number of duplicated rows in the dataframe

0

In [27]:
# We remove columns with only one unique value as they won't be useful for analysis
#to_drop = ["Region"]

# We drop the specified columns from the dataframe and apply changes directly with inplace=True.
df2.drop(columns=["Region"], inplace=True)
df2.head()

,Category driving licence,Age driving license holder,Periods,People with a driving licence (number)
0,Passenger car driving licence total,Total,2014,10658020.0
1,Passenger car driving licence total,Total,2015,10755934.0
2,Passenger car driving licence total,Total,2016,10894336.0
3,Passenger car driving licence total,Total,2017,10986066.0
4,Passenger car driving licence total,Total,2018,11070447.0

In [28]:
df2 = df2.rename(columns={"Age driving license holder":"Age Group",
                        "Periods":"Year",
                        "People with a driving licence (number)": "Value"}) # We rename 'VALUE' to 'Value' to match the naming style of other columns.

In [29]:
df2[(df2["Year"]==2023) & (df2["Age Group"]=="16 to 17 years")]

                Category driving licence       Age Group  Year    Value
19   Passenger car driving licence total  16 to 17 years  2023  13197.0
139            Bus driving licence total  16 to 17 years  2023      NaN
259                Moped driving licence  16 to 17 years  2023  59256.0
379           Motorcycle driving licence  16 to 17 years  2023      NaN
499          Truck driving licence total  16 to 17 years  2023      NaN

Hollanda'da ehliyet alma yas siniri 17'dir. Ancak, 17 yaşında ehliyet alabilen genç sürücüler, 18 yaşına kadar bir yetişkin eşliğinde araç kullanmak zorundadırlar. 18 yaşından itibaren ise sürücüler, eşlik şartı olmaksızın bağımsız olarak araç kullanabilirler. 18 yasindan kucukler sadece katagori A1 (125cc), AM (mopet) ve B (otomobil) ehliyet sinifini alabilirler.

Bundan dolayi asagida 18 yasindan kucukler icin Bus driving licence total, Motorcycle driving licence ve Truck driving licence total katogorileri icin NaN degerlerini verdi. Biz bu degerleri kimse o yas sinirinde ehliyet sahibi olmadigi icin 0 ile dolduracagiz

In [30]:
missing_df2 = df2[df2.isna().any(axis=1)] # We create a new dataframe containing only the rows with missing data.
missing_df2 # We display the dataframe with missing values.

        Category driving licence       Age Group  Year  Value
130    Bus driving licence total  16 to 17 years  2014    NaN
131    Bus driving licence total  16 to 17 years  2015    NaN
132    Bus driving licence total  16 to 17 years  2016    NaN
133    Bus driving licence total  16 to 17 years  2017    NaN
134    Bus driving licence total  16 to 17 years  2018    NaN
135    Bus driving licence total  16 to 17 years  2019    NaN
136    Bus driving licence total  16 to 17 years  2020    NaN
137    Bus driving licence total  16 to 17 years  2021    NaN
138    Bus driving licence total  16 to 17 years  2022    NaN
139    Bus driving licence total  16 to 17 years  2023    NaN
370   Motorcycle driving licence  16 to 17 years  2014    NaN
371   Motorcycle driving licence  16 to 17 years  2015    NaN
372   Motorcycle driving licence  16 to 17 years  2016    NaN
373   Motorcycle driving licence  16 to 17 years  2017    NaN
374   Motorcycle driving licence  16 to 17 years  2018    NaN
375   Motorcycle driving licence  16 to 17 years  2019    NaN
376   Motorcycle driving licence  16 to 17 years  2020    NaN
377   Motorcycle driving licence  16 to 17 years  2021    NaN
378   Motorcycle driving licence  16 to 17 years  2022    NaN
379   Motorcycle driving licence  16 to 17 years  2023    NaN
490  Truck driving licence total  16 to 17 years  2014    NaN
491  Truck driving licence total  16 to 17 years  2015    NaN
492  Truck driving licence total  16 to 17 years  2016    NaN
493  Truck driving licence total  16 to 17 years  2017    NaN
494  Truck driving licence total  16 to 17 years  2018    NaN
495  Truck driving licence total  16 to 17 years  2019    NaN
496  Truck driving licence total  16 to 17 years  2020    NaN
497  Truck driving licence total  16 to 17 years  2021    NaN
498  Truck driving licence total  16 to 17 years  2022    NaN
499  Truck driving licence total  16 to 17 years  2023    NaN

In [37]:
df2["Value"] = df2["Value"].fillna(0) #I assigned NaN values to 0 using the fillna() function, which is a Pandas function
df2

                Category driving licence          Age Group  Year     Value
0    Passenger car driving licence total              Total  2014  10658020
1    Passenger car driving licence total              Total  2015  10755934
2    Passenger car driving licence total              Total  2016  10894336
3    Passenger car driving licence total              Total  2017  10986066
4    Passenger car driving licence total              Total  2018  11070447
..                                   ...                ...   ...       ...
595          Truck driving licence total  75 years or older  2019     14610
596          Truck driving licence total  75 years or older  2020     15750
597          Truck driving licence total  75 years or older  2021     17593
598          Truck driving licence total  75 years or older  2022     20563
599          Truck driving licence total  75 years or older  2023     23271

[600 rows x 4 columns]

In [35]:
df2["Value"] = df2["Value"].astype(int)

In [33]:
df2.dtypes                               # We check the data types of each column

Category driving licence    object
Age Group                   object
Year                         int64
Value                        int32
dtype: object

In [52]:
df["Value"] = df["Value"].astype(int)

In [56]:
df.head()

,Statistic,Year,Age Group,Licensing Authority,Value
0,Full Driving Licences,2013,All ages,All licensing authorities,2414393
1,Full Driving Licences,2013,Under 17 years,All licensing authorities,0
2,Full Driving Licences,2013,17 - 20 years,All licensing authorities,31634
3,Full Driving Licences,2013,21 - 24 years,All licensing authorities,106965
4,Full Driving Licences,2013,25 - 29 years,All licensing authorities,213428

In [55]:
df = df[df["Licensing Authority"] == "All licensing authorities"].reset_index(drop=True)
df

,Statistic,Year,Age Group,Licensing Authority,Value
0,Full Driving Licences,2013,All ages,All licensing authorities,2414393
1,Full Driving Licences,2013,Under 17 years,All licensing authorities,0
2,Full Driving Licences,2013,17 - 20 years,All licensing authorities,31634
3,Full Driving Licences,2013,21 - 24 years,All licensing authorities,106965
4,Full Driving Licences,2013,25 - 29 years,All licensing authorities,213428
...,...,...,...,...,...
215,Learner Permit Driving Licences,2022,40 - 49 years,All licensing authorities,38111
216,Learner Permit Driving Licences,2022,50 - 59 years,All licensing authorities,15412
217,Learner Permit Driving Licences,2022,60 - 69 years,All licensing authorities,5125
218,Learner Permit Driving Licences,2022,70 - 79 years,All licensing authorities,1634
219,Learner Permit Driving Licences,2022,80 years and over,All licensing authorities,236

In [58]:
df.drop(columns=["Licensing Authority"], inplace=True)
df

                           Statistic  Year          Age Group    Value
0              Full Driving Licences  2013           All ages  2414393
1              Full Driving Licences  2013     Under 17 years        0
2              Full Driving Licences  2013      17 - 20 years    31634
3              Full Driving Licences  2013      21 - 24 years   106965
4              Full Driving Licences  2013      25 - 29 years   213428
..                               ...   ...                ...      ...
215  Learner Permit Driving Licences  2022      40 - 49 years    38111
216  Learner Permit Driving Licences  2022      50 - 59 years    15412
217  Learner Permit Driving Licences  2022      60 - 69 years     5125
218  Learner Permit Driving Licences  2022      70 - 79 years     1634
219  Learner Permit Driving Licences  2022  80 years and over      236

[220 rows x 4 columns]

In [61]:
df

                           Statistic  Year          Age Group    Value
0              Full Driving Licences  2013           All ages  2414393
1              Full Driving Licences  2013     Under 17 years        0
2              Full Driving Licences  2013      17 - 20 years    31634
3              Full Driving Licences  2013      21 - 24 years   106965
4              Full Driving Licences  2013      25 - 29 years   213428
..                               ...   ...                ...      ...
215  Learner Permit Driving Licences  2022      40 - 49 years    38111
216  Learner Permit Driving Licences  2022      50 - 59 years    15412
217  Learner Permit Driving Licences  2022      60 - 69 years     5125
218  Learner Permit Driving Licences  2022      70 - 79 years     1634
219  Learner Permit Driving Licences  2022  80 years and over      236

[220 rows x 4 columns]

In [60]:
df["Statistic"].unique()

array(['Full Driving Licences', 'Learner Permit Driving Licences'],
      dtype=object)

In [62]:
# Yıl ve yaş grubuna göre gruplandır ve 'Value' sütunu için toplam al
total_licences = df.groupby(['Year', 'Age Group']).sum().reset_index()

# Yeni bir 'Statistic' sütunu ekle ve 'Total Licences' olarak adlandır
total_licences['Statistic'] = 'Total Licences'

# Bu toplamı orijinal df DataFrame'ine ekle
df = pd.concat([df, total_licences], ignore_index=True)
df

                 Statistic  Year          Age Group    Value
0    Full Driving Licences  2013           All ages  2414393
1    Full Driving Licences  2013     Under 17 years        0
2    Full Driving Licences  2013      17 - 20 years    31634
3    Full Driving Licences  2013      21 - 24 years   106965
4    Full Driving Licences  2013      25 - 29 years   213428
..                     ...   ...                ...      ...
325         Total Licences  2022      60 - 69 years   452487
326         Total Licences  2022      70 - 79 years   273037
327         Total Licences  2022  80 years and over    94761
328         Total Licences  2022           All ages  3325487
329         Total Licences  2022     Under 17 years     2243

[330 rows x 4 columns]

In [59]:
df2

                Category driving licence          Age Group  Year     Value
0    Passenger car driving licence total              Total  2014  10658020
1    Passenger car driving licence total              Total  2015  10755934
2    Passenger car driving licence total              Total  2016  10894336
3    Passenger car driving licence total              Total  2017  10986066
4    Passenger car driving licence total              Total  2018  11070447
..                                   ...                ...   ...       ...
595          Truck driving licence total  75 years or older  2019     14610
596          Truck driving licence total  75 years or older  2020     15750
597          Truck driving licence total  75 years or older  2021     17593
598          Truck driving licence total  75 years or older  2022     20563
599          Truck driving licence total  75 years or older  2023     23271

[600 rows x 4 columns]

In [39]:
df2.head()

              Category driving licence Age Group  Year     Value
0  Passenger car driving licence total     Total  2014  10658020
1  Passenger car driving licence total     Total  2015  10755934
2  Passenger car driving licence total     Total  2016  10894336
3  Passenger car driving licence total     Total  2017  10986066
4  Passenger car driving licence total     Total  2018  11070447