In [1]:
import requests
import json
import pandas as pd
from pandas import json_normalize

In [2]:
# API URL'si
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/ROA04/JSON-stat/1.0/en"

In [3]:
# API'den veri çekmek için GET isteği yapılıyor
res = requests.get(url)

# Eğer istek başarılıysa (HTTP 200), veriyi al
if res.status_code == 200:
    data = res.json()  # JSON formatındaki veriyi Python sözlüğüne dönüştürür
    print("Response=",res.status_code,"\n")
    print("Response successful")
else:
    print("API'den veri çekilemedi. Hata kodu:", response.status_code)

Response= 200

Response successful

In [9]:
data.keys()

dict_keys(['dataset'])

In [10]:
data['dataset']

{'dimension': {'STATISTIC': {'label': 'Statistic',
   'category': {'index': {'ROA04C1': 0, 'ROA04C2': 1},
    'label': {'ROA04C1': 'Full Driving Licences',
     'ROA04C2': 'Learner Permit Driving Licences'},
    'unit': {'ROA04C1': {'base': 'Number'}, 'ROA04C2': {'base': 'Number'}}}},
  'TLIST(A1)': {'label': 'Year',
   'category': {'index': {'2009': 0,
     '2010': 1,
     '2011': 2,
     '2012': 3,
     '2013': 4,
     '2014': 5,
     '2015': 6,
     '2016': 7,
     '2017': 8,
     '2018': 9,
     '2019': 10,
     '2020': 11,
     '2021': 12,
     '2022': 13},
    'label': {'2009': '2009',
     '2010': '2010',
     '2011': '2011',
     '2012': '2012',
     '2013': '2013',
     '2014': '2014',
     '2015': '2015',
     '2016': '2016',
     '2017': '2017',
     '2018': '2018',
     '2019': '2019',
     '2020': '2020',
     '2021': '2021',
     '2022': '2022'}}},
  'C02076V03371': {'label': 'Age Group',
   'category': {'index': {'-': 0,
     '336': 1,
     '3401': 2,
     '385': 3,
     '410': 4,
     '445': 5,
     '480': 6,
     '520': 7,
     '555': 8,
     '585': 9,
     '620': 10},
    'label': {'-': 'All ages',
     '336': 'Under 17 years',
     '3401': '17 - 20 years',
     '385': '21 - 24 years',
     '410': '25 - 29 years',
     '445': '30 - 39 years',
     '480': '40 - 49 years',
     '520': '50 - 59 years',
     '555': '60 - 69 years',
     '585': '70 - 79 years',
     '620': '80 years and over'}}},
  'C02199V02655': {'label': 'Sex',
   'category': {'index': {'-': 0, '1': 1, '2': 2},
    'label': {'-': 'Both sexes', '1': 'Male', '2': 'Female'}}},
  'role': {'metric': ['STATISTIC'], 'time': ['TLIST(A1)']},
  'id': ['STATISTIC', 'TLIST(A1)', 'C02076V03371', 'C02199V02655'],
  'size': [2, 14, 11, 3]},
 'label': 'Current Full and Learner Permit Driving Licences',
 'source': 'Road Safety Authority (RSA)',
 'updated': '2023-11-22T11:00:00Z',
 'value': [2362292.0,
  1294008.0,
  1068284.0,
  3.0,
  1.0,
  2.0,
  46258.0,
  28631.0,
  17627.0,
  132124.0,
  71179.0,
  60945.0,
  249341.0,
  127963.0,
  121378.0,
  566068.0,
  296445.0,
  269623.0,
  500679.0,
  267591.0,
  233088.0,
  405903.0,
  226276.0,
  179627.0,
  291517.0,
  171512.0,
  120005.0,
  134121.0,
  81528.0,
  52593.0,
  36278.0,
  22882.0,
  13396.0,
  2375171.0,
  1292281.0,
  1082890.0,
  0.0,
  0.0,
  0.0,
  41718.0,
  25845.0,
  15873.0,
  126959.0,
  68734.0,
  58225.0,
  241544.0,
  123865.0,
  117679.0,
  572293.0,
  297541.0,
  274752.0,
  504463.0,
  267944.0,
  236519.0,
  409716.0,
  225584.0,
  184132.0,
  297029.0,
  172528.0,
  124501.0,
  141722.0,
  85394.0,
  56328.0,
  39727.0,
  24846.0,
  14881.0,
  2395131.0,
  1296193.0,
  1098938.0,
  0.0,
  0.0,
  0.0,
  39488.0,
  24301.0,
  15187.0,
  121162.0,
  65881.0,
  55281.0,
  234366.0,
  120376.0,
  113990.0,
  575269.0,
  297384.0,
  277885.0,
  512629.0,
  271109.0,
  241520.0,
  415673.0,
  226358.0,
  189315.0,
  304716.0,
  174972.0,
  129744.0,
  148759.0,
  88973.0,
  59786.0,
  43069.0,
  26839.0,
  16230.0,
  2413936.0,
  1300385.0,
  1113551.0,
  0.0,
  0.0,
  0.0,
  35737.0,
  21885.0,
  13852.0,
  114115.0,
  62378.0,
  51737.0,
  224872.0,
  115801.0,
  109071.0,
  576585.0,
  296387.0,
  280198.0,
  521964.0,
  274816.0,
  247148.0,
  421908.0,
  227993.0,
  193915.0,
  313526.0,
  178309.0,
  135217.0,
  158232.0,
  93669.0,
  64563.0,
  46997.0,
  29147.0,
  17850.0,
  2414393.0,
  1295289.0,
  1119094.0,
  0.0,
  0.0,
  0.0,
  31634.0,
  19498.0,
  12136.0,
  106965.0,
  58592.0,
  48373.0,
  213428.0,
  110192.0,
  103236.0,
  570601.0,
  292016.0,
  278584.0,
  528038.0,
  276956.0,
  251080.0,
  429698.0,
  230547.0,
  199151.0,
  321898.0,
  181719.0,
  140179.0,
  163036.0,
  95496.0,
  67540.0,
  49095.0,
  30273.0,
  18815.0,
  2474786.0,
  1324507.0,
  1150279.0,
  0.0,
  0.0,
  0.0,
  32143.0,
  20174.0,
  11969.0,
  104433.0,
  57014.0,
  47419.0,
  206451.0,
  106765.0,
  99686.0,
  573705.0,
  292646.0,
  281059.0,
  544888.0,
  285280.0,
  259608.0,
  445387.0,
  237669.0,
  207718.0,
  336367.0,
  188704.0,
  147663.0,
  176855.0,
  102928.0,
  73927.0,
  54557.0,
  33327.0,
  21230.0,
  2523627.0,
  1347991.0,
  1175636.0,
  0.0,
  0.0,
  0.0,
  34553.0,
  21983.0,
  12570.0,
  101966.0,
  55632.0,
  46334.0,
  201123.0,
  104320.0,
  96803.0,
  575488.0,
  292972.0,
  282516.0,
  557670.0,
  291366.0,
  266304.0,
  458160.0,
  243285.0,
  214875.0,
  347731.0,
  194070.0,
  153661.0,
  188455.0,
  108840.0,
  79615.0,
  58481.0,
  35523.0,
  22958.0,
  2570871.0,
  1370954.0,
  1199917.0,
  0.0,
  0.0,
  0.0,
  35173.0,
  22529.0,
  12644.0,
  100074.0,
  54940.0,
  45134.0,
  194951.0,
  101286.0,
  93665.0,
  577493.0,
  293731.0,
  283762.0,
  571266.0,
  297843.0,
  273423.0,
  469606.0,
  248402.0,
  221204.0,
  358818.0,
  198964.0,
  159854.0,
  200081.0,
  114912.0,
  85169.0,
  63409.0,
  38347.0,
  25062.0,
  2620014.0,
  1394693.0,
  1225321.0,
  0.0,
  0.0,
  0.0,
  35434.0,
  22662.0,
  12772.0,
  100328.0,
  55375.0,
  44953.0,
  191545.0,
  99804.0,
  91741.0,
  576150.0,
  293064.0,
  283086.0,
  585427.0,
  304332.0,
  281095.0,
  480613.0,
  253447.0,
  227166.0,
  369407.0,
  203599.0,
  165808.0,
  212713.0,
  121424.0,
  91289.0,
  68397.0,
  40986.0,
  27411.0,
  2667128.0,
  1422852.0,
  1244276.0,
  0.0,
  0.0,
  0.0,
  35637.0,
  22748.0,
  12889.0,
  102650.0,
  56860.0,
  45790.0,
  187562.0,
  97743.0,
  89819.0,
  563082.0,
  287009.0,
  276073.0,
  600255.0,
  312101.0,
  288154.0,
  496946.0,
  263884.0,
  233062.0,
  383720.0,
  211789.0,
  171931.0,
  224082.0,
  127214.0,
  96868.0,
  73194.0,
  43504.0,
  29690.0,
  2814887.0,
  1501333.0,
  1313554.0,
  0.0,
  0.0,
  0.0,
  42314.0,
  26125.0,
  16189.0,
  111814.0,
  61463.0,
  50351.0,
  193129.0,
  100502.0,
  92627.0,
  575532.0,
  293569.0,
  281963.0,
  636391.0,
  330872.0,
  305519.0,
  532077.0,
  283479.0,
  248598.0,
  407329.0,
  224948.0,
  182381.0,
  237394.0,
  133918.0,
  103476.0,
  78907.0,
  46457.0,
  32450.0,
  2834070.0,
  1509482.0,
  1324588.0,
  0.0,
  0.0,
  0.0,
  36607.0,
  22412.0,
  14195.0,
  109603.0,
  60606.0,
  48997.0,
  186542.0,
  97163.0,
  89379.0,
  558647.0,
  285590.0,
  273057.0,
  648913.0,
  336851.0,
  312062.0,
  545117.0,
  290252.0,
  254865.0,
  417578.0,
  229189.0,
  188389.0,
  246638.0,
  138172.0,
  108466.0,
  84425.0,
  49247.0,
  35178.0,
  2953556.0,
  1575184.0,
  1378372.0,
  0.0,
  0.0,
  0.0,
  43508.0,
  25574.0,
  17934.0,
  117815.0,
  63606.0,
  54209.0,
  190385.0,
  99588.0,
  90797.0,
  554261.0,
  285083.0,
  269178.0,
  671460.0,
  349006.0,
  322454.0,
  576484.0,
  306805.0,
  266679.0,
  440543.0,
  241418.0,
  199125.0,
  268002.0,
  149676.0,
  118326.0,
  94098.0,
  54428.0,
  39670.0,
  2986873.0,
  1597492.0,
  1389381.0,
  0.0,
  0.0,
  0.0,
  48291.0,
  28338.0,
  19953.0,
  123170.0,
  65937.0,
  57223.0,
  193170.0,
  101136.0,
  92034.0,
  542980.0,
  281871.0,
  261109.0,
  679907.0,
  355097.0,
  324810.0,
  586065.0,
  315023.0,
  271042.0,
  447362.0,
  245311.0,
  202051.0,
  271403.0,
  150266.0,
  121137.0,
  94525.0,
  54513.0,
  40012.0,
  286115.0,
  140987.0,
  145128.0,
  1852.0,
  1745.0,
  107.0,
  67850.0,
  35427.0,
  32423.0,
  56608.0,
  26402.0,
  30206.0,
  54637.0,
  26694.0,
  27943.0,
  60175.0,
  30734.0,
  29441.0,
  25259.0,
  12657.0,
  12602.0,
  12495.0,
  5174.0,
  7321.0,
  5353.0,
  1499.0,
  3854.0,
  1464.0,
  419.0,
  1045.0,
  422.0,
  236.0,
  186.0,
  279877.0,
  135764.0,
  144113.0,
  1809.0,
  1657.0,
  152.0,
  68954.0,
  35293.0,
  33661.0,
  52874.0,
  23985.0,
  28889.0,
  53027.0,
  25425.0,
  27602.0,
  60160.0,
  29965.0,
  30195.0,
  24368.0,
  12340.0,
  12028.0,
  11768.0,
  4995.0,
  6773.0,
  5080.0,
  1485.0,
  3595.0,
  1426.0,
  390.0,
  1036.0,
  411.0,
  229.0,
  182.0,
  271428.0,
  129602.0,
  141826.0,
  1818.0,
  1633.0,
  185.0,
  69350.0,
  35016.0,
  34334.0,
  50960.0,
  22808.0,
  28152.0,
  49554.0,
  23232.0,
  26322.0,
  58884.0,
  28595.0,
  30289.0,
  23716.0,
  11920.0,
  11796.0,
  10713.0,
  4549.0,
  6164.0,
  4813.0,
  1427.0,
  3386.0,
  1381.0,
  335.0,
  1046.0,
  239.0,
  87.0,
  152.0,
  257334.0,
  123039.0,
  134295.0,
  1494.0,
  1402.0,
  92.0,
  63708.0,
  32934.0,
  30774.0,
  49486.0,
  22164.0,
  27322.0,
  45355.0,
  20977.0,
  24378.0,
  57547.0,
  27649.0,
  29898.0,
  23269.0,
  11668.0,
  11601.0,
  10169.0,
  4372.0,
  5797.0,
  4714.0,
  1479.0,
  3235.0,
  1342.0,
  309.0,
  1033.0,
  250.0,
  85.0,
  165.0,
  227197.0,
  109727.0,
  117470.0,
  1199.0,
  1135.0,
  64.0,
  53018.0,
  28312.0,
  24706.0,
  45036.0,
  20408.0,
  24628.0,
  38909.0,
  18057.0,
  20852.0,
  52777.0,
  25129.0,
  27648.0,
  21454.0,
  10877.0,
  10577.0,
  9169.0,
  4094.0,
  5075.0,
  4213.0,
  1384.0,
  2829.0,
  1212.0,
  263.0,
  949.0,
  210.0,
  68.0,
  142.0,
  235878.0,
  116143.0,
  119735.0,
  1279.0,
  1205.0,
  74.0,
  55349.0,
  30077.0,
  25272.0,
  45599.0,
  21363.0,
  24236.0,
  39144.0,
  18707.0,
  20437.0,
  55608.0,
  26674.0,
  28934.0,
  23420.0,
  11917.0,
  11503.0,
  9559.0,
  4353.0,
  5206.0,
  4404.0,
  1477.0,
  2927.0,
  1270.0,
  287.0,
  983.0,
  246.0,
  83.0,
  163.0,
  240442.0,
  119675.0,
  120767.0,
  1288.0,
  1220.0,
  68.0,
  56340.0,
  30277.0,
  26063.0,
  45748.0,
  21775.0,
  23973.0,
  39700.0,
  19436.0,
  20264.0,
  56855.0,
  27782.0,
  29073.0,
  24609.0,
  12634.0,
  11975.0,
  9899.0,
  4613.0,
  5286.0,
  4478.0,
  1577.0,
  2901.0,
  1293.0,
  294.0,
  999.0,
  232.0,
  67.0,
  165.0,
  249657.0,
  124570.0,
  125087.0,
  1366.0,
  1272.0,
  94.0,
  57821.0,
  30955.0,
  26866.0,
  46572.0,
  22145.0,
  24427.0,
  40922.0,
  20173.0,
  20749.0,
  59867.0,
  29503.0,
  30364.0,
  26576.0,
  13626.0,
  12950.0,
  10353.0,
  4895.0,
  5458.0,
  4542.0,
  1613.0,
  2929.0,
  1401.0,
  326.0,
  1075.0,
  237.0,
  62.0,
  175.0,
  246148.0,
  122786.0,
  123362.0,
  1301.0,
  1203.0,
  98.0,
  53080.0,
  28191.0,
  24889.0,
  45150.0,
  21585.0,
  23565.0,
  40870.0,
  20346.0,
  20524.0,
  60737.0,
  29883.0,
  30854.0,
  27701.0,
  14099.0,
  13602.0,
  10874.0,
  5266.0,
  5608.0,
  4689.0,
  1778.0,
  2911.0,
  1512.0,
  368.0,
  1144.0,
  234.0,
  67.0,
  167.0,
  240064.0,
  119686.0,
  120378.0,
  1449.0,
  1345.0,
  104.0,
  51606.0,
  26965.0,
  24641.0,
  43294.0,
  20392.0,
  22902.0,
  39266.0,
  19659.0,
  19607.0,
  58834.0,
  29220.0,
  29614.0,
  27976.0,
  14261.0,
  13715.0,
  11114.0,
  5523.0,
  5591.0,
  4715.0,
  1856.0,
  2859.0,
  1566.0,
  406.0,
  1160.0,
  244.0,
  59.0,
  185.0,
  233025.0,
  117444.0,
  115581.0,
  1659.0,
  1521.0,
  138.0,
  54209.0,
  27788.0,
  26421.0,
  41724.0,
  19921.0,
  21803.0,
  36884.0,
  18577.0,
  18307.0,
  54269.0,
  27497.0,
  26772.0,
  26786.0,
  14034.0,
  12752.0,
  11138.0,
  5787.0,
  5351.0,
  4520.0,
  1826.0,
  2694.0,
  1584.0,
  428.0,
  1156.0,
  252.0,
  65.0,
  187.0,
  255142.0,
  127942.0,
  127200.0,
  1243.0,
  1135.0,
  108.0,
  60750.0,
  30675.0,
  30075.0,
  49684.0,
  23421.0,
  26263.0,
  41043.0,
  20528.0,
  20515.0,
  57075.0,
  28970.0,
  28105.0,
  27728.0,
  14702.0,
  13026.0,
  11485.0,
  6179.0,
  5306.0,
  4397.0,
  1851.0,
  2546.0,
  1496.0,
  419.0,
  1077.0,
  241.0,
  62.0,
  179.0,
  304065.0,
  153971.0,
  150094.0,
  2257.0,
  1918.0,
  339.0,
  76042.0,
  38732.0,
  37310.0,
  55822.0,
  26668.0,
  29154.0,
  48325.0,
  24508.0,
  23817.0,
  69294.0,
  34951.0,
  34343.0,
  32665.0,
  17280.0,
  15385.0,
  13372.0,
  7353.0,
  6019.0,
  4621.0,
  2067.0,
  2554.0,
  1449.0,
  439.0,
  1010.0,
  218.0,
  55.0,
  163.0,
  338614.0,
  172086.0,
  166528.0,
  2243.0,
  1942.0,
  301.0,
  82899.0,
  42270.0,
  40629.0,
  59360.0,
  29084.0,
  30276.0,
  53558.0,
  27343.0,
  26215.0,
  80036.0,
  39985.0,
  40051.0,
  38111.0,
  19890.0,
  18221.0,
  15412.0,
  8568.0,
  6844.0,
  5125.0,
  2417.0,
  2708.0,
  1634.0,
  523.0,
  1111.0,
  236.0,
  64.0,
  172.0]}

In [11]:
data['dataset'].keys()

dict_keys(['dimension', 'label', 'source', 'updated', 'value'])

In [12]:
data['dataset']['value']

[2362292.0,
 1294008.0,
 1068284.0,
 3.0,
 1.0,
 2.0,
 46258.0,
 28631.0,
 17627.0,
 132124.0,
 71179.0,
 60945.0,
 249341.0,
 127963.0,
 121378.0,
 566068.0,
 296445.0,
 269623.0,
 500679.0,
 267591.0,
 233088.0,
 405903.0,
 226276.0,
 179627.0,
 291517.0,
 171512.0,
 120005.0,
 134121.0,
 81528.0,
 52593.0,
 36278.0,
 22882.0,
 13396.0,
 2375171.0,
 1292281.0,
 1082890.0,
 0.0,
 0.0,
 0.0,
 41718.0,
 25845.0,
 15873.0,
 126959.0,
 68734.0,
 58225.0,
 241544.0,
 123865.0,
 117679.0,
 572293.0,
 297541.0,
 274752.0,
 504463.0,
 267944.0,
 236519.0,
 409716.0,
 225584.0,
 184132.0,
 297029.0,
 172528.0,
 124501.0,
 141722.0,
 85394.0,
 56328.0,
 39727.0,
 24846.0,
 14881.0,
 2395131.0,
 1296193.0,
 1098938.0,
 0.0,
 0.0,
 0.0,
 39488.0,
 24301.0,
 15187.0,
 121162.0,
 65881.0,
 55281.0,
 234366.0,
 120376.0,
 113990.0,
 575269.0,
 297384.0,
 277885.0,
 512629.0,
 271109.0,
 241520.0,
 415673.0,
 226358.0,
 189315.0,
 304716.0,
 174972.0,
 129744.0,
 148759.0,
 88973.0,
 59786.0,
 43069.0,
 26839.0,
 16230.0,
 2413936.0,
 1300385.0,
 1113551.0,
 0.0,
 0.0,
 0.0,
 35737.0,
 21885.0,
 13852.0,
 114115.0,
 62378.0,
 51737.0,
 224872.0,
 115801.0,
 109071.0,
 576585.0,
 296387.0,
 280198.0,
 521964.0,
 274816.0,
 247148.0,
 421908.0,
 227993.0,
 193915.0,
 313526.0,
 178309.0,
 135217.0,
 158232.0,
 93669.0,
 64563.0,
 46997.0,
 29147.0,
 17850.0,
 2414393.0,
 1295289.0,
 1119094.0,
 0.0,
 0.0,
 0.0,
 31634.0,
 19498.0,
 12136.0,
 106965.0,
 58592.0,
 48373.0,
 213428.0,
 110192.0,
 103236.0,
 570601.0,
 292016.0,
 278584.0,
 528038.0,
 276956.0,
 251080.0,
 429698.0,
 230547.0,
 199151.0,
 321898.0,
 181719.0,
 140179.0,
 163036.0,
 95496.0,
 67540.0,
 49095.0,
 30273.0,
 18815.0,
 2474786.0,
 1324507.0,
 1150279.0,
 0.0,
 0.0,
 0.0,
 32143.0,
 20174.0,
 11969.0,
 104433.0,
 57014.0,
 47419.0,
 206451.0,
 106765.0,
 99686.0,
 573705.0,
 292646.0,
 281059.0,
 544888.0,
 285280.0,
 259608.0,
 445387.0,
 237669.0,
 207718.0,
 336367.0,
 188704.0,
 147663.0,
 176855.0,
 102928.0,
 73927.0,
 54557.0,
 33327.0,
 21230.0,
 2523627.0,
 1347991.0,
 1175636.0,
 0.0,
 0.0,
 0.0,
 34553.0,
 21983.0,
 12570.0,
 101966.0,
 55632.0,
 46334.0,
 201123.0,
 104320.0,
 96803.0,
 575488.0,
 292972.0,
 282516.0,
 557670.0,
 291366.0,
 266304.0,
 458160.0,
 243285.0,
 214875.0,
 347731.0,
 194070.0,
 153661.0,
 188455.0,
 108840.0,
 79615.0,
 58481.0,
 35523.0,
 22958.0,
 2570871.0,
 1370954.0,
 1199917.0,
 0.0,
 0.0,
 0.0,
 35173.0,
 22529.0,
 12644.0,
 100074.0,
 54940.0,
 45134.0,
 194951.0,
 101286.0,
 93665.0,
 577493.0,
 293731.0,
 283762.0,
 571266.0,
 297843.0,
 273423.0,
 469606.0,
 248402.0,
 221204.0,
 358818.0,
 198964.0,
 159854.0,
 200081.0,
 114912.0,
 85169.0,
 63409.0,
 38347.0,
 25062.0,
 2620014.0,
 1394693.0,
 1225321.0,
 0.0,
 0.0,
 0.0,
 35434.0,
 22662.0,
 12772.0,
 100328.0,
 55375.0,
 44953.0,
 191545.0,
 99804.0,
 91741.0,
 576150.0,
 293064.0,
 283086.0,
 585427.0,
 304332.0,
 281095.0,
 480613.0,
 253447.0,
 227166.0,
 369407.0,
 203599.0,
 165808.0,
 212713.0,
 121424.0,
 91289.0,
 68397.0,
 40986.0,
 27411.0,
 2667128.0,
 1422852.0,
 1244276.0,
 0.0,
 0.0,
 0.0,
 35637.0,
 22748.0,
 12889.0,
 102650.0,
 56860.0,
 45790.0,
 187562.0,
 97743.0,
 89819.0,
 563082.0,
 287009.0,
 276073.0,
 600255.0,
 312101.0,
 288154.0,
 496946.0,
 263884.0,
 233062.0,
 383720.0,
 211789.0,
 171931.0,
 224082.0,
 127214.0,
 96868.0,
 73194.0,
 43504.0,
 29690.0,
 2814887.0,
 1501333.0,
 1313554.0,
 0.0,
 0.0,
 0.0,
 42314.0,
 26125.0,
 16189.0,
 111814.0,
 61463.0,
 50351.0,
 193129.0,
 100502.0,
 92627.0,
 575532.0,
 293569.0,
 281963.0,
 636391.0,
 330872.0,
 305519.0,
 532077.0,
 283479.0,
 248598.0,
 407329.0,
 224948.0,
 182381.0,
 237394.0,
 133918.0,
 103476.0,
 78907.0,
 46457.0,
 32450.0,
 2834070.0,
 1509482.0,
 1324588.0,
 0.0,
 0.0,
 0.0,
 36607.0,
 22412.0,
 14195.0,
 109603.0,
 60606.0,
 48997.0,
 186542.0,
 97163.0,
 89379.0,
 558647.0,
 285590.0,
 273057.0,
 648913.0,
 336851.0,
 312062.0,
 545117.0,
 290252.0,
 254865.0,
 417578.0,
 229189.0,
 188389.0,
 246638.0,
 138172.0,
 108466.0,
 84425.0,
 49247.0,
 35178.0,
 2953556.0,
 1575184.0,
 1378372.0,
 0.0,
 0.0,
 0.0,
 43508.0,
 25574.0,
 17934.0,
 117815.0,
 63606.0,
 54209.0,
 190385.0,
 99588.0,
 90797.0,
 554261.0,
 285083.0,
 269178.0,
 671460.0,
 349006.0,
 322454.0,
 576484.0,
 306805.0,
 266679.0,
 440543.0,
 241418.0,
 199125.0,
 268002.0,
 149676.0,
 118326.0,
 94098.0,
 54428.0,
 39670.0,
 2986873.0,
 1597492.0,
 1389381.0,
 0.0,
 0.0,
 0.0,
 48291.0,
 28338.0,
 19953.0,
 123170.0,
 65937.0,
 57223.0,
 193170.0,
 101136.0,
 92034.0,
 542980.0,
 281871.0,
 261109.0,
 679907.0,
 355097.0,
 324810.0,
 586065.0,
 315023.0,
 271042.0,
 447362.0,
 245311.0,
 202051.0,
 271403.0,
 150266.0,
 121137.0,
 94525.0,
 54513.0,
 40012.0,
 286115.0,
 140987.0,
 145128.0,
 1852.0,
 1745.0,
 107.0,
 67850.0,
 35427.0,
 32423.0,
 56608.0,
 26402.0,
 30206.0,
 54637.0,
 26694.0,
 27943.0,
 60175.0,
 30734.0,
 29441.0,
 25259.0,
 12657.0,
 12602.0,
 12495.0,
 5174.0,
 7321.0,
 5353.0,
 1499.0,
 3854.0,
 1464.0,
 419.0,
 1045.0,
 422.0,
 236.0,
 186.0,
 279877.0,
 135764.0,
 144113.0,
 1809.0,
 1657.0,
 152.0,
 68954.0,
 35293.0,
 33661.0,
 52874.0,
 23985.0,
 28889.0,
 53027.0,
 25425.0,
 27602.0,
 60160.0,
 29965.0,
 30195.0,
 24368.0,
 12340.0,
 12028.0,
 11768.0,
 4995.0,
 6773.0,
 5080.0,
 1485.0,
 3595.0,
 1426.0,
 390.0,
 1036.0,
 411.0,
 229.0,
 182.0,
 271428.0,
 129602.0,
 141826.0,
 1818.0,
 1633.0,
 185.0,
 69350.0,
 35016.0,
 34334.0,
 50960.0,
 22808.0,
 28152.0,
 49554.0,
 23232.0,
 26322.0,
 58884.0,
 28595.0,
 30289.0,
 23716.0,
 11920.0,
 11796.0,
 10713.0,
 4549.0,
 6164.0,
 4813.0,
 1427.0,
 3386.0,
 1381.0,
 335.0,
 1046.0,
 239.0,
 87.0,
 152.0,
 257334.0,
 123039.0,
 134295.0,
 1494.0,
 1402.0,
 92.0,
 63708.0,
 32934.0,
 30774.0,
 49486.0,
 22164.0,
 27322.0,
 45355.0,
 20977.0,
 24378.0,
 57547.0,
 27649.0,
 29898.0,
 23269.0,
 11668.0,
 11601.0,
 10169.0,
 4372.0,
 5797.0,
 4714.0,
 1479.0,
 3235.0,
 1342.0,
 309.0,
 1033.0,
 250.0,
 85.0,
 165.0,
 227197.0,
 109727.0,
 117470.0,
 1199.0,
 1135.0,
 64.0,
 53018.0,
 28312.0,
 24706.0,
 45036.0,
 20408.0,
 24628.0,
 38909.0,
 18057.0,
 20852.0,
 52777.0,
 25129.0,
 27648.0,
 21454.0,
 10877.0,
 10577.0,
 9169.0,
 4094.0,
 5075.0,
 4213.0,
 1384.0,
 2829.0,
 1212.0,
 263.0,
 949.0,
 210.0,
 68.0,
 142.0,
 235878.0,
 116143.0,
 119735.0,
 1279.0,
 1205.0,
 74.0,
 55349.0,
 30077.0,
 25272.0,
 45599.0,
 21363.0,
 24236.0,
 39144.0,
 18707.0,
 20437.0,
 55608.0,
 26674.0,
 28934.0,
 23420.0,
 11917.0,
 11503.0,
 9559.0,
 4353.0,
 5206.0,
 4404.0,
 1477.0,
 2927.0,
 1270.0,
 287.0,
 983.0,
 246.0,
 83.0,
 163.0,
 240442.0,
 119675.0,
 120767.0,
 1288.0,
 1220.0,
 68.0,
 56340.0,
 30277.0,
 26063.0,
 45748.0,
 21775.0,
 23973.0,
 39700.0,
 19436.0,
 20264.0,
 56855.0,
 27782.0,
 29073.0,
 24609.0,
 12634.0,
 11975.0,
 9899.0,
 4613.0,
 5286.0,
 4478.0,
 1577.0,
 2901.0,
 1293.0,
 294.0,
 999.0,
 232.0,
 67.0,
 165.0,
 249657.0,
 124570.0,
 125087.0,
 1366.0,
 1272.0,
 94.0,
 57821.0,
 30955.0,
 26866.0,
 46572.0,
 22145.0,
 24427.0,
 40922.0,
 20173.0,
 20749.0,
 59867.0,
 29503.0,
 30364.0,
 26576.0,
 13626.0,
 12950.0,
 10353.0,
 4895.0,
 5458.0,
 4542.0,
 1613.0,
 2929.0,
 1401.0,
 326.0,
 1075.0,
 237.0,
 62.0,
 175.0,
 246148.0,
 122786.0,
 123362.0,
 1301.0,
 1203.0,
 98.0,
 53080.0,
 28191.0,
 24889.0,
 45150.0,
 21585.0,
 23565.0,
 40870.0,
 20346.0,
 20524.0,
 60737.0,
 29883.0,
 30854.0,
 27701.0,
 14099.0,
 13602.0,
 10874.0,
 5266.0,
 5608.0,
 4689.0,
 1778.0,
 2911.0,
 1512.0,
 368.0,
 1144.0,
 234.0,
 67.0,
 167.0,
 240064.0,
 119686.0,
 120378.0,
 1449.0,
 1345.0,
 104.0,
 51606.0,
 26965.0,
 24641.0,
 43294.0,
 20392.0,
 22902.0,
 39266.0,
 19659.0,
 19607.0,
 58834.0,
 29220.0,
 29614.0,
 27976.0,
 14261.0,
 13715.0,
 11114.0,
 5523.0,
 5591.0,
 4715.0,
 1856.0,
 2859.0,
 1566.0,
 406.0,
 1160.0,
 244.0,
 59.0,
 185.0,
 233025.0,
 117444.0,
 115581.0,
 1659.0,
 1521.0,
 138.0,
 54209.0,
 27788.0,
 26421.0,
 41724.0,
 19921.0,
 21803.0,
 36884.0,
 18577.0,
 18307.0,
 54269.0,
 27497.0,
 26772.0,
 26786.0,
 14034.0,
 12752.0,
 11138.0,
 5787.0,
 5351.0,
 4520.0,
 1826.0,
 2694.0,
 1584.0,
 428.0,
 1156.0,
 252.0,
 65.0,
 187.0,
 255142.0,
 127942.0,
 127200.0,
 1243.0,
 1135.0,
 108.0,
 60750.0,
 30675.0,
 30075.0,
 49684.0,
 23421.0,
 26263.0,
 41043.0,
 20528.0,
 20515.0,
 57075.0,
 28970.0,
 28105.0,
 27728.0,
 14702.0,
 13026.0,
 11485.0,
 6179.0,
 5306.0,
 4397.0,
 1851.0,
 2546.0,
 1496.0,
 419.0,
 1077.0,
 241.0,
 62.0,
 179.0,
 304065.0,
 153971.0,
 150094.0,
 2257.0,
 1918.0,
 339.0,
 76042.0,
 38732.0,
 37310.0,
 55822.0,
 26668.0,
 29154.0,
 48325.0,
 24508.0,
 23817.0,
 69294.0,
 34951.0,
 34343.0,
 32665.0,
 17280.0,
 15385.0,
 13372.0,
 7353.0,
 6019.0,
 4621.0,
 2067.0,
 2554.0,
 1449.0,
 439.0,
 1010.0,
 218.0,
 55.0,
 163.0,
 338614.0,
 172086.0,
 166528.0,
 2243.0,
 1942.0,
 301.0,
 82899.0,
 42270.0,
 40629.0,
 59360.0,
 29084.0,
 30276.0,
 53558.0,
 27343.0,
 26215.0,
 80036.0,
 39985.0,
 40051.0,
 38111.0,
 19890.0,
 18221.0,
 15412.0,
 8568.0,
 6844.0,
 5125.0,
 2417.0,
 2708.0,
 1634.0,
 523.0,
 1111.0,
 236.0,
 64.0,
 172.0]

In [13]:
data['dataset']['label']

'Current Full and Learner Permit Driving Licences'

In [14]:
data['dataset']['dimension'].keys()

dict_keys(['STATISTIC', 'TLIST(A1)', 'C02076V03371', 'C02199V02655', 'role', 'id', 'size'])

In [4]:
# Anahtarları yinelemeli olarak bulan fonksiyon
def find_keys(data, path=None):
    if path is None:
        path = []
    if isinstance(data, dict):
        for k, v in data.items():
            yield path + [k]
            yield from find_keys(v, path + [k])
    elif isinstance(data, list):
        for item in data:
            yield from find_keys(item, path + ["list-item"])

# Fonksiyonu test edelim
keys_list = list(find_keys(data))
for key_path in keys_list:
    print(" -> ".join(key_path))

dataset
dataset -> dimension
dataset -> dimension -> STATISTIC
dataset -> dimension -> STATISTIC -> label
dataset -> dimension -> STATISTIC -> category
dataset -> dimension -> STATISTIC -> category -> index
dataset -> dimension -> STATISTIC -> category -> index -> ROA04C1
dataset -> dimension -> STATISTIC -> category -> index -> ROA04C2
dataset -> dimension -> STATISTIC -> category -> label
dataset -> dimension -> STATISTIC -> category -> label -> ROA04C1
dataset -> dimension -> STATISTIC -> category -> label -> ROA04C2
dataset -> dimension -> STATISTIC -> category -> unit
dataset -> dimension -> STATISTIC -> category -> unit -> ROA04C1
dataset -> dimension -> STATISTIC -> category -> unit -> ROA04C1 -> base
dataset -> dimension -> STATISTIC -> category -> unit -> ROA04C2
dataset -> dimension -> STATISTIC -> category -> unit -> ROA04C2 -> base
dataset -> dimension -> TLIST(A1)
dataset -> dimension -> TLIST(A1) -> label
dataset -> dimension -> TLIST(A1) -> category
dataset -> dimension -> TLIST(A1) -> category -> index
dataset -> dimension -> TLIST(A1) -> category -> index -> 2009
dataset -> dimension -> TLIST(A1) -> category -> index -> 2010
dataset -> dimension -> TLIST(A1) -> category -> index -> 2011
dataset -> dimension -> TLIST(A1) -> category -> index -> 2012
dataset -> dimension -> TLIST(A1) -> category -> index -> 2013
dataset -> dimension -> TLIST(A1) -> category -> index -> 2014
dataset -> dimension -> TLIST(A1) -> category -> index -> 2015
dataset -> dimension -> TLIST(A1) -> category -> index -> 2016
dataset -> dimension -> TLIST(A1) -> category -> index -> 2017
dataset -> dimension -> TLIST(A1) -> category -> index -> 2018
dataset -> dimension -> TLIST(A1) -> category -> index -> 2019
dataset -> dimension -> TLIST(A1) -> category -> index -> 2020
dataset -> dimension -> TLIST(A1) -> category -> index -> 2021
dataset -> dimension -> TLIST(A1) -> category -> index -> 2022
dataset -> dimension -> TLIST(A1) -> category -> label
dataset -> dimension -> TLIST(A1) -> category -> label -> 2009
dataset -> dimension -> TLIST(A1) -> category -> label -> 2010
dataset -> dimension -> TLIST(A1) -> category -> label -> 2011
dataset -> dimension -> TLIST(A1) -> category -> label -> 2012
dataset -> dimension -> TLIST(A1) -> category -> label -> 2013
dataset -> dimension -> TLIST(A1) -> category -> label -> 2014
dataset -> dimension -> TLIST(A1) -> category -> label -> 2015
dataset -> dimension -> TLIST(A1) -> category -> label -> 2016
dataset -> dimension -> TLIST(A1) -> category -> label -> 2017
dataset -> dimension -> TLIST(A1) -> category -> label -> 2018
dataset -> dimension -> TLIST(A1) -> category -> label -> 2019
dataset -> dimension -> TLIST(A1) -> category -> label -> 2020
dataset -> dimension -> TLIST(A1) -> category -> label -> 2021
dataset -> dimension -> TLIST(A1) -> category -> label -> 2022
dataset -> dimension -> C02076V03371
dataset -> dimension -> C02076V03371 -> label
dataset -> dimension -> C02076V03371 -> category
dataset -> dimension -> C02076V03371 -> category -> index
dataset -> dimension -> C02076V03371 -> category -> index -> -
dataset -> dimension -> C02076V03371 -> category -> index -> 336
dataset -> dimension -> C02076V03371 -> category -> index -> 3401
dataset -> dimension -> C02076V03371 -> category -> index -> 385
dataset -> dimension -> C02076V03371 -> category -> index -> 410
dataset -> dimension -> C02076V03371 -> category -> index -> 445
dataset -> dimension -> C02076V03371 -> category -> index -> 480
dataset -> dimension -> C02076V03371 -> category -> index -> 520
dataset -> dimension -> C02076V03371 -> category -> index -> 555
dataset -> dimension -> C02076V03371 -> category -> index -> 585
dataset -> dimension -> C02076V03371 -> category -> index -> 620
dataset -> dimension -> C02076V03371 -> category -> label
dataset -> dimension -> C02076V03371 -> category -> label -> -
dataset -> dimension -> C02076V03371 -> category -> label -> 336
dataset -> dimension -> C02076V03371 -> category -> label -> 3401
dataset -> dimension -> C02076V03371 -> category -> label -> 385
dataset -> dimension -> C02076V03371 -> category -> label -> 410
dataset -> dimension -> C02076V03371 -> category -> label -> 445
dataset -> dimension -> C02076V03371 -> category -> label -> 480
dataset -> dimension -> C02076V03371 -> category -> label -> 520
dataset -> dimension -> C02076V03371 -> category -> label -> 555
dataset -> dimension -> C02076V03371 -> category -> label -> 585
dataset -> dimension -> C02076V03371 -> category -> label -> 620
dataset -> dimension -> C02199V02655
dataset -> dimension -> C02199V02655 -> label
dataset -> dimension -> C02199V02655 -> category
dataset -> dimension -> C02199V02655 -> category -> index
dataset -> dimension -> C02199V02655 -> category -> index -> -
dataset -> dimension -> C02199V02655 -> category -> index -> 1
dataset -> dimension -> C02199V02655 -> category -> index -> 2
dataset -> dimension -> C02199V02655 -> category -> label
dataset -> dimension -> C02199V02655 -> category -> label -> -
dataset -> dimension -> C02199V02655 -> category -> label -> 1
dataset -> dimension -> C02199V02655 -> category -> label -> 2
dataset -> dimension -> role
dataset -> dimension -> role -> metric
dataset -> dimension -> role -> time
dataset -> dimension -> id
dataset -> dimension -> size
dataset -> label
dataset -> source
dataset -> updated
dataset -> value

In [5]:
# Boyutlar ve etiketler
dimensions = data['dataset']['dimension']
values = data['dataset']['value']  # Değerlerin listesi

# DataFrame sütunlarını oluşturmak için boyutlardan indeks ve etiketleri çıkar
stats = list(dimensions['STATISTIC']['category']['label'].values())
years = list(dimensions['TLIST(A1)']['category']['label'].values())
age_groups = list(dimensions['C02076V03371']['category']['label'].values())
sex = list(dimensions['C02199V02655']['category']['label'].values())
#values=data['dataset']['value']

In [6]:
# Converting each string in the list to an integer
int_years = [int(year) for year in years]
int_years

[2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

In [8]:
# JSON verisini düz bir tabloya dönüştüren fonksiyon
def process_json_data(data):
    # Veri çerçevesini oluşturacak verileri toplayacak listeler
    stats_list, years_list ,int_years_list, age_groups_list, sex_list = [], [], [], [], []

    # JSON-stat değerlerinin çok boyutlu dizilimini düzleştirmek için her bir boyut boyunca döngü
    for stat_label in stats:
        for year in int_years:
            for age_label in age_groups:
                for sex_label in sex:
                    stats_list.append(stat_label)
                    int_years_list.append(year)
                    age_groups_list.append(age_label)
                    sex_list.append(sex_label)
                    
    # DataFrame oluştur
    df = pd.DataFrame({
        'Statistic': stats_list,
        'Year': int_years_list,
        'Age Group': age_groups_list,
        'Sex': sex_list,
        'Value': values
    })
    
    return df
# Fonksiyonu çağırarak verileri işle ve DataFrame oluştur
df = process_json_data(data)
df

,Statistic,Year,Age Group,Sex,Value
0,Full Driving Licences,2009,All ages,Both sexes,2362292.0
1,Full Driving Licences,2009,All ages,Male,1294008.0
2,Full Driving Licences,2009,All ages,Female,1068284.0
3,Full Driving Licences,2009,Under 17 years,Both sexes,3.0
4,Full Driving Licences,2009,Under 17 years,Male,1.0
...,...,...,...,...,...
919,Learner Permit Driving Licences,2022,70 - 79 years,Male,523.0
920,Learner Permit Driving Licences,2022,70 - 79 years,Female,1111.0
921,Learner Permit Driving Licences,2022,80 years and over,Both sexes,236.0
922,Learner Permit Driving Licences,2022,80 years and over,Male,64.0
923,Learner Permit Driving Licences,2022,80 years and over,Female,172.0

In [15]:
df[(df["Year"]==2013) & (df["Age Group"]=="All ages")]

                           Statistic  Year Age Group         Sex      Value
132            Full Driving Licences  2013  All ages  Both sexes  2414393.0
133            Full Driving Licences  2013  All ages        Male  1295289.0
134            Full Driving Licences  2013  All ages      Female  1119094.0
594  Learner Permit Driving Licences  2013  All ages  Both sexes   227197.0
595  Learner Permit Driving Licences  2013  All ages        Male   109727.0
596  Learner Permit Driving Licences  2013  All ages      Female   117470.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Statistic  924 non-null    object
 1   Year       924 non-null    int64
 2   Age Group  924 non-null    object
 3   Sex        924 non-null    object
 4   Value      924 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 36.2+ KB

In [17]:
total_rows = df.shape[0]                 # We assign the number of rows to "total_rows"
total_columns = df.shape[1]              # We assign the number of columns to "total_columns"
print(f"Total Rows= {total_rows}")       # We print the total number of rows
print(f"Total Columns= {total_columns}") # We print the total number of columns

Total Rows= 924
Total Columns= 5

In [18]:
df2=pd.read_csv("People_with_a_driving_licence_11122023_114434.csv",sep=';') #We read the second data set with pandas
#veri setimiz noktali virgul ile ayrildigi icin sep parametresini ';' olarak ayarliyoruz

In [19]:
df2.head()

,Category driving licence,Age driving license holder,Periods,Region,People with a driving licence (number)
0,Passenger car driving licence total,Total,2014,Nederland,10658020.0
1,Passenger car driving licence total,Total,2015,Nederland,10755934.0
2,Passenger car driving licence total,Total,2016,Nederland,10894336.0
3,Passenger car driving licence total,Total,2017,Nederland,10986066.0
4,Passenger car driving licence total,Total,2018,Nederland,11070447.0

In [20]:
df2.sample(5)

,Category driving licence,Age driving license holder,Periods,Region,People with a driving licence (number)
195,Bus driving licence total,50 to 59 years,2019,Nederland,84807.0
327,Moped driving licence,60 to 64 years,2021,Nederland,1019613.0
273,Moped driving licence,20 to 24 years,2017,Nederland,768130.0
583,Truck driving licence total,70 to 74 years,2017,Nederland,20159.0
315,Moped driving licence,50 to 59 years,2019,Nederland,2274417.0

In [21]:
df2["Region"].unique()

array(['Nederland'], dtype=object)

In [22]:
total_rows = df2.shape[0]                 # We assign the number of rows to "total_rows"
total_columns = df2.shape[1]              # We assign the number of columns to "total_columns"
print(f"Total Rows= {total_rows}")       # We print the total number of rows
print(f"Total Columns= {total_columns}") # We print the total number of columns

Total Rows= 600
Total Columns= 5

In [23]:
df2.isnull().sum()                        # We count the number of null values in each column of the dataframe

Category driving licence                   0
Age driving license holder                 0
Periods                                    0
Region                                     0
People with a driving licence (number)    30
dtype: int64

In [24]:
df2.duplicated().sum()                    # We count the total number of duplicated rows in the dataframe

0

In [25]:
# We remove columns with only one unique value as they won't be useful for analysis
#to_drop = ["Region"]

# We drop the specified columns from the dataframe and apply changes directly with inplace=True.
df2.drop(columns=["Region"], inplace=True)
df2.head()

,Category driving licence,Age driving license holder,Periods,People with a driving licence (number)
0,Passenger car driving licence total,Total,2014,10658020.0
1,Passenger car driving licence total,Total,2015,10755934.0
2,Passenger car driving licence total,Total,2016,10894336.0
3,Passenger car driving licence total,Total,2017,10986066.0
4,Passenger car driving licence total,Total,2018,11070447.0

In [26]:
df2 = df2.rename(columns={"Age driving license holder":"Age Group",
                        "Periods":"Year",
                        "People with a driving licence (number)": "Value"}) # We rename 'VALUE' to 'Value' to match the naming style of other columns.

In [27]:
df2[(df2["Year"]==2023) & (df2["Age Group"]=="16 to 17 years")]

                Category driving licence       Age Group  Year    Value
19   Passenger car driving licence total  16 to 17 years  2023  13197.0
139            Bus driving licence total  16 to 17 years  2023      NaN
259                Moped driving licence  16 to 17 years  2023  59256.0
379           Motorcycle driving licence  16 to 17 years  2023      NaN
499          Truck driving licence total  16 to 17 years  2023      NaN

Hollanda'da ehliyet alma yas siniri 17'dir. Ancak, 17 yaşında ehliyet alabilen genç sürücüler, 18 yaşına kadar bir yetişkin eşliğinde araç kullanmak zorundadırlar. 18 yaşından itibaren ise sürücüler, eşlik şartı olmaksızın bağımsız olarak araç kullanabilirler. 18 yasindan kucukler sadece katagori A1 (125cc), AM (mopet) ve B (otomobil) ehliyet sinifini alabilirler.

Bundan dolayi asagida 18 yasindan kucukler icin Bus driving licence total, Motorcycle driving licence ve Truck driving licence total katogorileri icin NaN degerlerini verdi. Biz bu degerleri kimse o yas sinirinde ehliyet sahibi olmadigi icin 0 ile dolduracagiz

In [28]:
missing_df2 = df2[df2.isna().any(axis=1)] # We create a new dataframe containing only the rows with missing data.
missing_df2 # We display the dataframe with missing values.

        Category driving licence       Age Group  Year  Value
130    Bus driving licence total  16 to 17 years  2014    NaN
131    Bus driving licence total  16 to 17 years  2015    NaN
132    Bus driving licence total  16 to 17 years  2016    NaN
133    Bus driving licence total  16 to 17 years  2017    NaN
134    Bus driving licence total  16 to 17 years  2018    NaN
135    Bus driving licence total  16 to 17 years  2019    NaN
136    Bus driving licence total  16 to 17 years  2020    NaN
137    Bus driving licence total  16 to 17 years  2021    NaN
138    Bus driving licence total  16 to 17 years  2022    NaN
139    Bus driving licence total  16 to 17 years  2023    NaN
370   Motorcycle driving licence  16 to 17 years  2014    NaN
371   Motorcycle driving licence  16 to 17 years  2015    NaN
372   Motorcycle driving licence  16 to 17 years  2016    NaN
373   Motorcycle driving licence  16 to 17 years  2017    NaN
374   Motorcycle driving licence  16 to 17 years  2018    NaN
375   Motorcycle driving licence  16 to 17 years  2019    NaN
376   Motorcycle driving licence  16 to 17 years  2020    NaN
377   Motorcycle driving licence  16 to 17 years  2021    NaN
378   Motorcycle driving licence  16 to 17 years  2022    NaN
379   Motorcycle driving licence  16 to 17 years  2023    NaN
490  Truck driving licence total  16 to 17 years  2014    NaN
491  Truck driving licence total  16 to 17 years  2015    NaN
492  Truck driving licence total  16 to 17 years  2016    NaN
493  Truck driving licence total  16 to 17 years  2017    NaN
494  Truck driving licence total  16 to 17 years  2018    NaN
495  Truck driving licence total  16 to 17 years  2019    NaN
496  Truck driving licence total  16 to 17 years  2020    NaN
497  Truck driving licence total  16 to 17 years  2021    NaN
498  Truck driving licence total  16 to 17 years  2022    NaN
499  Truck driving licence total  16 to 17 years  2023    NaN

In [29]:
df2["Value"] = df2["Value"].fillna(0) #I assigned NaN values to 0 using the fillna() function, which is a Pandas function
df2

                Category driving licence          Age Group  Year       Value
0    Passenger car driving licence total              Total  2014  10658020.0
1    Passenger car driving licence total              Total  2015  10755934.0
2    Passenger car driving licence total              Total  2016  10894336.0
3    Passenger car driving licence total              Total  2017  10986066.0
4    Passenger car driving licence total              Total  2018  11070447.0
..                                   ...                ...   ...         ...
595          Truck driving licence total  75 years or older  2019     14610.0
596          Truck driving licence total  75 years or older  2020     15750.0
597          Truck driving licence total  75 years or older  2021     17593.0
598          Truck driving licence total  75 years or older  2022     20563.0
599          Truck driving licence total  75 years or older  2023     23271.0

[600 rows x 4 columns]

In [30]:
df2["Value"] = df2["Value"].astype(int)

In [31]:
df2.dtypes                               # We check the data types of each column

Category driving licence    object
Age Group                   object
Year                         int64
Value                        int32
dtype: object

In [32]:
df["Value"] = df["Value"].astype(int)

In [34]:
df

,Statistic,Year,Age Group,Sex,Value
0,Full Driving Licences,2009,All ages,Both sexes,2362292
1,Full Driving Licences,2009,All ages,Male,1294008
2,Full Driving Licences,2009,All ages,Female,1068284
3,Full Driving Licences,2009,Under 17 years,Both sexes,3
4,Full Driving Licences,2009,Under 17 years,Male,1
...,...,...,...,...,...
919,Learner Permit Driving Licences,2022,70 - 79 years,Male,523
920,Learner Permit Driving Licences,2022,70 - 79 years,Female,1111
921,Learner Permit Driving Licences,2022,80 years and over,Both sexes,236
922,Learner Permit Driving Licences,2022,80 years and over,Male,64
923,Learner Permit Driving Licences,2022,80 years and over,Female,172

In [35]:
df = df[df["Sex"] == "Both sexes"].reset_index(drop=True)
df

,Statistic,Year,Age Group,Sex,Value
0,Full Driving Licences,2009,All ages,Both sexes,2362292
1,Full Driving Licences,2009,Under 17 years,Both sexes,3
2,Full Driving Licences,2009,17 - 20 years,Both sexes,46258
3,Full Driving Licences,2009,21 - 24 years,Both sexes,132124
4,Full Driving Licences,2009,25 - 29 years,Both sexes,249341
...,...,...,...,...,...
303,Learner Permit Driving Licences,2022,40 - 49 years,Both sexes,38111
304,Learner Permit Driving Licences,2022,50 - 59 years,Both sexes,15412
305,Learner Permit Driving Licences,2022,60 - 69 years,Both sexes,5125
306,Learner Permit Driving Licences,2022,70 - 79 years,Both sexes,1634
307,Learner Permit Driving Licences,2022,80 years and over,Both sexes,236

In [37]:
df.drop(columns=["Sex"], inplace=True)
df

                           Statistic  Year          Age Group    Value
0              Full Driving Licences  2009           All ages  2362292
1              Full Driving Licences  2009     Under 17 years        3
2              Full Driving Licences  2009      17 - 20 years    46258
3              Full Driving Licences  2009      21 - 24 years   132124
4              Full Driving Licences  2009      25 - 29 years   249341
..                               ...   ...                ...      ...
303  Learner Permit Driving Licences  2022      40 - 49 years    38111
304  Learner Permit Driving Licences  2022      50 - 59 years    15412
305  Learner Permit Driving Licences  2022      60 - 69 years     5125
306  Learner Permit Driving Licences  2022      70 - 79 years     1634
307  Learner Permit Driving Licences  2022  80 years and over      236

[308 rows x 4 columns]

In [38]:
df["Statistic"].unique()

array(['Full Driving Licences', 'Learner Permit Driving Licences'],
      dtype=object)

In [39]:
# Yıl ve yaş grubuna göre gruplandır ve 'Value' sütunu için toplam al
total_licences = df.groupby(['Year', 'Age Group']).sum().reset_index()

# Yeni bir 'Statistic' sütunu ekle ve 'Total Licences' olarak adlandır
total_licences['Statistic'] = 'Total Licences'

# Bu toplamı orijinal df DataFrame'ine ekle
df = pd.concat([df, total_licences], ignore_index=True)
df

                 Statistic  Year          Age Group    Value
0    Full Driving Licences  2009           All ages  2362292
1    Full Driving Licences  2009     Under 17 years        3
2    Full Driving Licences  2009      17 - 20 years    46258
3    Full Driving Licences  2009      21 - 24 years   132124
4    Full Driving Licences  2009      25 - 29 years   249341
..                     ...   ...                ...      ...
457         Total Licences  2022      60 - 69 years   452487
458         Total Licences  2022      70 - 79 years   273037
459         Total Licences  2022  80 years and over    94761
460         Total Licences  2022           All ages  3325487
461         Total Licences  2022     Under 17 years     2243

[462 rows x 4 columns]

In [51]:
df[(df["Age Group"] >= "Under 17 years") & (df["Statistic"] == "Full Driving Licences")]

                 Statistic  Year       Age Group  Value
1    Full Driving Licences  2009  Under 17 years      3
12   Full Driving Licences  2010  Under 17 years      0
23   Full Driving Licences  2011  Under 17 years      0
34   Full Driving Licences  2012  Under 17 years      0
45   Full Driving Licences  2013  Under 17 years      0
56   Full Driving Licences  2014  Under 17 years      0
67   Full Driving Licences  2015  Under 17 years      0
78   Full Driving Licences  2016  Under 17 years      0
89   Full Driving Licences  2017  Under 17 years      0
100  Full Driving Licences  2018  Under 17 years      0
111  Full Driving Licences  2019  Under 17 years      0
122  Full Driving Licences  2020  Under 17 years      0
133  Full Driving Licences  2021  Under 17 years      0
144  Full Driving Licences  2022  Under 17 years      0

In [46]:
df[df["Statistic"] == "Learner Permit Driving Licences"]

                           Statistic  Year          Age Group   Value
154  Learner Permit Driving Licences  2009           All ages  286115
155  Learner Permit Driving Licences  2009     Under 17 years    1852
156  Learner Permit Driving Licences  2009      17 - 20 years   67850
157  Learner Permit Driving Licences  2009      21 - 24 years   56608
158  Learner Permit Driving Licences  2009      25 - 29 years   54637
..                               ...   ...                ...     ...
303  Learner Permit Driving Licences  2022      40 - 49 years   38111
304  Learner Permit Driving Licences  2022      50 - 59 years   15412
305  Learner Permit Driving Licences  2022      60 - 69 years    5125
306  Learner Permit Driving Licences  2022      70 - 79 years    1634
307  Learner Permit Driving Licences  2022  80 years and over     236

[154 rows x 4 columns]

In [41]:
df[df["Statistic"] == "Total Licences"]

          Statistic  Year          Age Group    Value
308  Total Licences  2009      17 - 20 years   114108
309  Total Licences  2009      21 - 24 years   188732
310  Total Licences  2009      25 - 29 years   303978
311  Total Licences  2009      30 - 39 years   626243
312  Total Licences  2009      40 - 49 years   525938
..              ...   ...                ...      ...
457  Total Licences  2022      60 - 69 years   452487
458  Total Licences  2022      70 - 79 years   273037
459  Total Licences  2022  80 years and over    94761
460  Total Licences  2022           All ages  3325487
461  Total Licences  2022     Under 17 years     2243

[154 rows x 4 columns]

In [43]:
df[(df["Year"] >= 2014) & (df["Statistic"] == "Total Licences")]

          Statistic  Year          Age Group    Value
363  Total Licences  2014      17 - 20 years    87492
364  Total Licences  2014      21 - 24 years   150032
365  Total Licences  2014      25 - 29 years   245595
366  Total Licences  2014      30 - 39 years   629313
367  Total Licences  2014      40 - 49 years   568308
..              ...   ...                ...      ...
457  Total Licences  2022      60 - 69 years   452487
458  Total Licences  2022      70 - 79 years   273037
459  Total Licences  2022  80 years and over    94761
460  Total Licences  2022           All ages  3325487
461  Total Licences  2022     Under 17 years     2243

[99 rows x 4 columns]

In [ ]:
df.head(20)

In [ ]:
df["Age Group"].unique()

In [ ]:
df2["Age Group"].unique()

In [ ]:
df2

In [ ]:
df2.head()